{% extends 'base_topbar.html.twig' %}

{% block title %}Liste des engrais et amendements{% endblock %}

{% block plugins_stylesheets %}
    {{ parent() }}
    <link rel="stylesheet"
          href="{{ asset('remark/3.0.5/classic/global/vendor/datatables-bootstrap/dataTables.bootstrap.css') }}">
    <link rel="stylesheet"
          href="{{ asset('remark/3.0.5/classic/global/vendor/datatables-fixedheader/dataTables.fixedHeader.css') }}">
    <link rel="stylesheet"
          href="{{ asset('remark/3.0.5/classic/global/vendor/datatables-responsive/dataTables.responsive.css') }}">
    <link rel="stylesheet" href="{{ asset('remark/3.0.5/classic/topbar/assets/examples/css/tables/datatable.css') }}">
    <link rel="stylesheet" href="{{ asset('remark/3.0.5/classic/global/vendor/select2/select2.css') }}">


{% endblock %}

{% block page_stylesheets %}
    {{ parent() }}
    <style>
        table tr > td > span > button > i.icon {
            visibility: hidden;
        }

        table tr > td > span > a > i.icon {
            visibility: hidden;
        }

        table tr:hover > td > span > button > i.icon {
            visibility: visible;
        }

        table tr:hover > td > span > a > i.icon {
            visibility: visible;
        }

        .actionLink {
            text-decoration: none !important;
            color: #526069;
        }

        .helpLink {
            text-decoration: none !important;
            color: #76838f;
        }

        .helpLink:hover {
            text-decoration: underline;
            color: #526069;
        }

        table tr:hover > td > a.actionLink {
            text-decoration: underline !important;
            color: #526069;
        }

        label {
            font-weight: 500;
            font-family: Roboto, sans-serif;
        }

        .hidden {
            display: none;
        }

        .rotate {
            -moz-transition: all .2s linear;
            -webkit-transition: all .2s linear;
            transition: all .2s linear;
        }

        .rotate.down {
            -ms-transform: rotate(135deg);
            -moz-transform: rotate(135deg);
            -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
        }

        .highcharts-credits {
            visibility: hidden !important;
        }
    </style>
{% endblock %}

{% block page %}
    <div class="page-content">
        <div class="row">
            <!-- Panel Basic used as temporary fix -->
            <div class="panel " style="display:none;">
                <header class="panel-heading">
                    <div class="panel-actions"></div>
                    <h3 class="panel-title">Mes Stocks<small><i class="icon wb-chevron-right" style="margin-right:5px;" aria-hidden="true"></i></small>Engrais et amendements sur le territoire</h3>
                </header>
                <div class="panel-body">
                    <table class="table table-hover dataTable table-striped w-full" data-plugin="dataTable">
                        <thead>
                        <tr>
                            <th>Temporary fix here</th>
                        </tr>
                        </thead>
                        <tfoot>
                        <tr>
                            <th>Temporary fix here</th>
                        </tr>
                        </tfoot>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
            <!-- End Panel Basic -->

            <!-- Panel Table Tools -->
            <div class="panel" id="tableTools">
                <header class="panel-heading">
                    <h4 class="panel-title" style="font-size:16px;">Fiches techniques <small><i class="icon wb-chevron-right" style="margin-right:5px;" aria-hidden="true"></i></small>Engrais et amendements
                    </h4>
                    <div class="panel-actions panel-actions-keep">
                    </div>
                </header>
                <div class="panel-body">
                    <table class="table table-hover dataTable table-striped w-full" id="exampleTableTools">
                        <thead>
                        <tr>
                            <th>Nom</th>
                            <th>Bio</th>
                            <th>N</th>
                            <th>P205</th>
                            <th>K2O</th>
                            <th>CaO</th>
                            <th>MgO</th>
                            <th>Fe</th>
                            <th>SO3</th>
                            <th>B</th>
                            <th>Mn</th>
                            <th>Zn</th>
                            <th>Cu</th>
                            <th>ISMO</th>
                            <th>C/N</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for fertilizer in fertilizers %}
                            <tr id="td_{{ fertilizer.id }}">
                                <td><a class="actionLink"
                                       href="{{ path('fertilizer_show',{'id':fertilizer.id}) }}">{{ fertilizer.name |capitalize }} {% if fertilizer.alternativeName %}({{ fertilizer.alternativeName }}){% endif %}</a>

                                     <span class="pull-right">
                                         {% if fertilizer.ft is not empty %}<a target="_blank" href="{{ fertilizer.ft}}"
                                                                 class="btn btn-sm btn-icon btn-pure btn-default on-default edit-row"
                                                                 style="padding:0px 5px 0px;" data-toggle="tooltip"
                                                                 data-original-title="Fiche technique"><i class="icon wb-order"
                                                                                                   aria-hidden="true"></i>
                                         </a>{% endif %}
                                         {% if fertilizer.fds is not empty %}<a target="_blank" href="{{ fertilizer.fds}}"
                                                                               class="btn btn-sm btn-icon btn-pure btn-default on-default edit-row"
                                                                               style="padding:0px 5px 0px;" data-toggle="tooltip"
                                                                               data-original-title="Fiche de données de sécurité"><i class="icon wb-order"
                                                                                                                        aria-hidden="true"></i>
                                             </a>{% endif %}
               </span>
                                </td>
                                <td>
                                    {% if fertilizer.organic%}
                                        <span class="tag tag-info">Autorisé</span>
                                                {% endif %}
                                </td>
                                <td {% if fertilizer.n == 0 %}style="color:lightgrey"{% endif %}>
                                    {{ fertilizer.n }}
                                </td>
                                <td {% if fertilizer.p2O5 == 0 %}style="color:lightgrey"{% endif %}>
                                    {{ fertilizer.p2O5 }}
                                </td>
                                <td {% if fertilizer.k2O == 0 %}style="color:lightgrey"{% endif %}>
                                    {{ fertilizer.k2O }}
                                </td>
                                <td {% if fertilizer.caO == 0 %}style="color:lightgrey"{% endif %}>
                                    {{ fertilizer.caO }}
                                </td>
                                <td {% if fertilizer.mgO == 0 %}style="color:lightgrey"{% endif %}>
                                    {{ fertilizer.mgO }}
                                </td>
                                <td {% if fertilizer.fe == 0 %}style="color:lightgrey"{% endif %}>
                                    {{ fertilizer.fe }}
                                </td>
                                <td {% if fertilizer.sO3 == 0 %}style="color:lightgrey"{% endif %}>
                                    {{ fertilizer.sO3 }}
                                </td>
                                <td {% if fertilizer.b == 0 %}style="color:lightgrey"{% endif %}>
                                    {{ fertilizer.b }}
                                </td>
                                <td {% if fertilizer.mn == 0 %}style="color:lightgrey"{% endif %}>
                                    {{ fertilizer.mn }}
                                </td>
                                <td {% if fertilizer.zn == 0 %}style="color:lightgrey"{% endif %}>
                                    {{ fertilizer.zn }}
                                </td>
                                <td {% if fertilizer.cu == 0 %}style="color:lightgrey"{% endif %}>
                                    {{ fertilizer.cu }}
                                </td>
                                <td>
                                    {% if fertilizer.ismo != 0 %}
                                    {{ fertilizer.ismo }}
                                    {% endif %}
                                </td>
                                <td>
                                    {% if fertilizer.cn %}
                                    {{ fertilizer.cn }}
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- End Panel Table Tools -->

            <!-- Button Add Action -->
            <div class="site-action">
                <button type="button" onClick="switchPanels();"
                        class="rotate site-action site-floataction btn-raised btn btn-danger btn-floating">
                    <i class="front-icon wb-plus animation-scale-up" aria-hidden="true"></i>
                </button>
            </div>
            <!-- End Button Add Action -->
        </div>
        <!-- Panel Add Action -->
        <div class="row" id="addFertilizer" style="display: none;">
            <div class="col-lg-3 col-md-0">

            </div>
            <div class="col-lg-6">
                <div class="panel panel-info panel-bordered">
                    <header class="panel-heading">
                        <div class="panel-actions"></div>
                        <h3 class="panel-title">Ajouter un engrais ou amendement</h3>
                    </header>
                    <div class="panel-body" style="padding-top:20px;">
                        {{ render(controller('AppBundle:Fertilizer:newFromIndex')) }}
                    </div>
                </div>
            </div>
        </div>
        <!-- End Panel Add Action -->


    </div>
{% endblock %}

{% block plugins_javascripts %}
    {{ parent() }}
    <script src="{{ asset('remark/3.0.5/classic/global/vendor/datatables/jquery.dataTables.js') }}"></script>
    <script src="{{ asset('remark/3.0.5/classic/global/vendor/datatables-fixedheader/dataTables.fixedHeader.js') }}"></script>
    <script src="{{ asset('remark/3.0.5/classic/global/vendor/datatables-bootstrap/dataTables.bootstrap.js') }}"></script>
    <script src="{{ asset('remark/3.0.5/classic/global/vendor/datatables-responsive/dataTables.responsive.js') }}"></script>
    <script src="{{ asset('remark/3.0.5/classic/global/vendor/datatables-tabletools/dataTables.tableTools.js') }}"></script>
    <script src="{{ asset('remark/3.0.5/classic/global/vendor/asrange/jquery-asRange.min.js') }}"></script>
    <script src="{{ asset('remark/3.0.5/classic/global/vendor/bootbox/bootbox.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js"></script>
    <script src="https://cdn.datatables.net/plug-ins/1.10.13/sorting/datetime-moment.js"></script>

    <script src="{{ asset('remark/3.0.5/classic/global/vendor/select2/select2.min.js') }}"></script>
    {#<script src="{{ asset('remark/3.0.5/classic/global/js/Plugin/select2.js') }}"></script>#}

    <script src="{{ asset('front/global/vendor/bootstrap-datepicker/bootstrap-datepicker.js') }}"></script>
    <script src="{{ asset('front/global/vendor/bootstrap-datepicker/bootstrap-datepicker.fr.js') }}"></script>
    <script src="{{ asset('front/global/vendor/jt-timepicker/jquery.timepicker.js') }}"></script>
    <script src="{{ asset('front/global/vendor/datepair-js/datepair.min.js') }}"></script>
    <script src="{{ asset('front/global/vendor/datepair-js/jquery.datepair.min.js') }}"></script>
    <script src="{{ asset('front/global/vendor/asspinner/jquery-asSpinner.min.js') }}"></script>


    <script src="{{ asset('front/global/js/components/bootstrap-datepicker.js') }}"></script>
    <script src="{{ asset('front/global/js/components/jt-timepicker.js') }}"></script>
    <script src="{{ asset('front/global/js/components/datepair-js.js') }}"></script>
    <script src="{{ asset('front/global/js/components/asspinner.js') }}"></script>

{% endblock %}

{% block page_javascripts %}
    {{ parent() }}
    <script src="{{ asset('remark/3.0.5/classic/global/js/Plugin/datatables.js') }}"></script>
    <script>
        /*!
         * remark (http://getbootstrapadmin.com/remark)
         * Copyright 2016 amazingsurge
         * Licensed under the Themeforest Standard Licenses
         */
        (function (document, window, $) {
            'use strict';

            var Site = window.Site;

            $(document).ready(function ($) {
                Site.run();
            });


            // Table Tools
            // -----------
            (function () {

                $(document).ready(function () {
                    {# Sort dates #}
                    $.fn.dataTable.moment('MM/YYYY');

                    {# Sort hectares and CFP #}
                    $.fn.dataTableExt.oSort['formatted-num-pre'] = function (a) {
                        a = (a === "-" || a === "") ? 0 : a.replace(/[^\d\-\.]/g, "");
                        return parseFloat(a);
                    }

                    $.fn.dataTableExt.oSort['formatted-num-asc'] = function (a, b) {
                        return a - b;
                    }
                    $.fn.dataTableExt.oSort['formatted-num-desc'] = function (a, b) {
                        return b - a;
                    }

                    var defaults = Plugin.getDefaults("dataTable");

                    var options = $.extend(true, {}, defaults, {
                        columnDefs: [
                            {type: 'formatted-num', targets: []}
                        ],
                        "order": [[0, "asc"]],
                        "iDisplayLength": 10,
                        "aLengthMenu": [
                            [5, 10, 25, 50, -1],
                            [5, 10, 25, 50, "All"]
                        ],
                        "sDom": '<"dt-panelmenu clearfix"Tfr>t<"dt-panelfooter clearfix"ip>',
                        "oTableTools": {
                            "sSwfPath": "{{ asset('remark/3.0.5/classic/global/vendor/datatables-tabletools/swf/copy_csv_xls_pdf.swf') }}"
                        }
                    });

                    $('#exampleTableTools').dataTable(options);
                });
            })();


        })(document, window, jQuery);

    </script>
    <script>
        var i = 0;
        function switchPanels() {
            if (i % 2 == 0) {
                $('#tableTools').hide();
                $('#addFertilizer').fadeIn(400);
                if (i == 0) {
                    $('.select2').select2();
                    {% for fertilizer in fertilizers %}
                    $('.select2 option[value="{{ fertilizer.id }}"]').attr('disabled','disabled');
                    {% endfor %}
                    $('.select2').select2({
                        placeholder: "",
                        allowClear: true
                    } );

                }
            } else {
                $('#addFertilizer').hide();
                $('#tableTools').fadeIn(400);
            }
            i++;
        }
        ;

        $(".rotate").click(function () {
            $(this).toggleClass("down");
        });
    </script>
{% endblock %}