{% extends 'base.html.twig' %}

{% block head_javascripts %}
    {{ parent() }}
    <link id="skinStyle" href="{{ asset('front/mmenu/assets/skins/teal.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block page %}
    <div class="page animsition">
        <div class="page-header padding-top-20 padding-bottom-10">
            <ol class="breadcrumb">
                <li><a href="#">Ressources</a></li>
                <li><a href="{{ path('speciality_index') }}">Produits phytosanitaires</a></li>
                <li class="active">{{ speciality.name }}</li>

            </ol>
        </div>
        <div class="page-content">
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-bordered">
                        <div class="panel-heading">
                            <h3 class="panel-title">{{ speciality.name }}</h3>

                            <div class="panel-actions">
                                <a style="color: white !important;" class="btn btn-primary"
                                   href="https://ephy.anses.fr/resultats_recherche/ppp?search_api_aggregation_3={{ speciality.amm }}&sort_by=search_api_relevance&sort_order=ASC">Voir
                                    ce produit sur le site de l'ANSES</a></div>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-12">

                                    {% if speciality.substances is not empty %}
                                        <h4 class="example-title">
                                            Matières actives
                                        </h4>
                                        <table class="table table-hover">
                                            <thead>
                                            <tr>
                                                <th>Nom</th>
                                                <th>Teneur</th>
                                                <th>N° CAS</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for substance in speciality.substances %}
                                                <tr>
                                                    <td>{{ substance.name }}</td>
                                                    <td>                                          {% if substance.amount is not empty %}
                                                            {{ substance.amount }} {{ substance.fullUnit }}
                                                        {% endif %}</td>
                                                    <td>
                                                        {{ substance.CAS }}
                                                    </td>
                                                </tr>

                                            {% endfor %}
                                            </tbody>

                                        </table>
                                    {% endif %}

                                    <h4 class="example-title">
                                        Liste des usages
                                    </h4>
                                    <table class="table table-hover">
                                        <thead>
                                        <tr>
                                            <th>Usages</th>
                                            <th>FR</th>
                                            <th>NC</th>
                                            <th>Dose homologuée</th>
                                            <th>DAR</th>
                                            <th>ZNT aquatique</th>

                                        </tr>
                                        </thead>
                                        <tbody>

                                        {% for usage in speciality.usages %}
                                            <tr>
                                                <td>
                                                    <a href="{{ path('specialityusage_show', { 'id': usage.id }) }}">{{ usage.name }}</a>
                                                </td>
                                                <td>{% if usage.status =="TRUE" %}
                                                        <button type="button"
                                                                class="btn btn-pure btn-info icon md-check-circle waves-effect waves-circle waves-classic"
                                                                data-toggle="tooltip" data-placement="bottom"
                                                                data-trigger="click"
                                                                data-original-title="Cet usage est autorisé par la réglementation Française. Veuillez vous référer à la réglementation de Nouvelle-Calédonie pour l'application de vos produits."
                                                                title=""></button>
                                                    {% else %}
                                                        <button type="button"
                                                                class="btn btn-pure btn-danger icon md-close-circle-o waves-effect waves-circle waves-classic"
                                                                data-toggle="tooltip" data-placement="bottom"
                                                                data-trigger="click"
                                                                data-original-title="Cet usage n'est plus autorisé par la réglementation Française. Veuillez vous référer à la réglementation de Nouvelle-Calédonie pour l'application de vos produits."
                                                                title=""></button>
                                                    {% endif %}</td>
                                                <td>
                                                    <button type="button" class="btn btn-pure btn-default icon md-help-outline
  waves-effect waves-circle waves-classic" data-toggle="tooltip" data-placement="bottom" data-trigger="click"
                                                            data-original-title="L'information concernant cet usage en Nouvelle-Calédonie n'a pas été renseigné"
                                                            title=""></button>

                                                <td>
                                                    {% if usage.status =="TRUE" %}
                                                        {{ usage.dose }} {{ usage.fullUnit }}
                                                    {% endif %}
                                                </td>
                                                <td>
                                                    {% if usage.status =="TRUE" %}
                                                        {{ usage.DAR }} {% if usage.DAR == 1 %}jour{% else %}jours{% endif %}
                                                    {% endif %}
                                                </td>
                                                <td>
                                                    {% if usage.status =="TRUE" %}
                                                        {% if usage.zNTwater == 0  %}0{% else %}
                                                        {{ usage.zNTwater }}
                                                            {% endif %}m
                                                    {% endif %}
                                                </td>

                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <a class="btn btn-default" href="{{ path('speciality_index') }}">Liste des produits
                                phytosanitaires</a>

                            {% if is_granted('ROLE_ADMIN') %}

                                <a class="btn btn-primary margin-left-10"
                                   href="{{ path('speciality_edit', { 'id': speciality.id }) }}">Modifier</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% if is_granted('ROLE_ADMIN') %}
                    <div class="col-lg-3">
                        <div class="panel panel-bordered">
                            <div class="panel-heading">
                                <div class="panel-title">
                                    Actions sensibles
                                </div>
                            </div>
                            <div class="panel-body">

                                {{ form_start(delete_form) }}
                                <input class="btn btn-danger" type="submit" value="Supprimer">
                                {{ form_end(delete_form) }}


                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block template_config %}
    {{ parent() }}

    <script src="{{ asset('front/global/js/plugins/responsive-tabs.js') }}"></script>
    <script src="{{ asset('front/global/js/plugins/closeable-tabs.js') }}"></script>
{% endblock %}
