{% extends 'base.html.twig' %}

{% block body %}
    <h1>TractorModel list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Brand</th>
                <th>Name</th>
                <th>Power</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tractorModel in tractorModels %}
            <tr>
                <td><a href="{{ path('tractormodel_show', { 'id': tractorModel.id }) }}">{{ tractorModel.id }}</a></td>
                <td>{{ tractorModel.brand }}</td>
                <td>{{ tractorModel.name }}</td>
                <td>{{ tractorModel.power }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('tractormodel_show', { 'id': tractorModel.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('tractormodel_edit', { 'id': tractorModel.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('tractormodel_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
