{% extends 'base.html.twig' %}

{% block body %}
    <h1>TractorModel</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ tractorModel.id }}</td>
            </tr>
            <tr>
                <th>Brand</th>
                <td>{{ tractorModel.brand }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ tractorModel.name }}</td>
            </tr>
            <tr>
                <th>Power</th>
                <td>{{ tractorModel.power }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('tractormodel_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('tractormodel_edit', { 'id': tractorModel.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
