{% extends 'base.html.twig' %}

{% block head_javascripts %}
    {{ parent() }}
    <link id="skinStyle" href="{{ asset('front/mmenu/assets/skins/teal.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block page %}
    <div class="page animsition">
        <div class="page-content">
            <div class="row">
                <div class="col-lg-9">
                    <div class="panel">
                        <div class="panel-heading">
                            <h3 class="panel-title">{{ plot.name }} <span style="color:lightgrey">{{ plot.area }}
                                    ha</span></h3>

                            <div class="panel-actions">
                                {% if is_granted('EDIT', plot) or is_granted('ROLE_ADMIN') %}

                                    <a class="btn btn-flat btn-default btn-block"
                                       href="{{ path('plot_edit', {'id': plot.id }) }}" id="edit_plot_button"
                                       type="button">
                                        Editer
                                    </a>
                                {% endif %}
                            </div>
                        </div>

                        <div class="panel-body">
                            <!-- Example Tabs Line -->
                            <div class="example-wrap margin-lg-0">
                                <div class="nav-tabs-horizontal">
                                    <ul class="nav nav-tabs nav-tabs-line" data-plugin="nav-tabs" role="tablist">
                                        <li class="active" role="presentation"><a data-toggle="tab"
                                                                                  href="#exampleTabsLineOne"
                                                                                  aria-controls="exampleTabsLineOne"
                                                                                  role="tab" style="font-size: 16px;">Cycles
                                                de culture</a></li>
                                        <li role="presentation"><a data-toggle="tab" href="#exampleTabsLineTwo"
                                                                   aria-controls="exampleTabsLineTwo"
                                                                   role="tab" style="font-size: 16px;">Activité</a></li>


                                    </ul>
                                    </li>
                                    </ul>
                                    <div class="tab-content">
                                        <div class="tab-pane active" id="exampleTabsLineOne" role="tabpanel">
                                            {{ render(controller('AppBundle:CropCycle:index',{'id': plot.id,'year':year} )) }}
                                            <a class="btn btn-primary"
                                               href="{{ path('cropcycle_new', { 'id': plot.id }) }}">
                                                Ajouter une culture
                                            </a>
                                        </div>
                                        <div class="tab-pane" id="exampleTabsLineTwo" role="tabpanel">
                                            <table class="table table-hover">
                                                <tbody>
                                                {% for cycle in plot.cropCycles %}
                                                    {% for action in cycle.actions %}
                                                        {% for period in action.periods %}
                                                            <tr>
                                                                <td class="cell-60 responsive-hide">
                                                                    <a class="avatar padding-top-5"
                                                                       href="javascript:void(0)">
                                                                        <img class="img-responsive"
                                                                             src="{{ asset('front/global/portraits/1.jpg') }}"
                                                                             alt="...">
                                                                    </a>
                                                                </td>
                                                                <td>
                                                                    <div class="content">
                                                                        <div class="title">
                                                                            <a href="{{ path('action_show', { 'id': action.id }) }}">{{ action.name }}</a>
                                                                        </div>
                                                                        <div class="metas">
                                                                            <span class="started">{{ action.cropCycle.name }}
                                                                                le {{ period.startDateTime | date ('d/m/Y') }}</span>
                                                                        </div>
                                                                    </div>
                                                                </td>
                                                                <td>
                                                                </td>
                                                            </tr>
                                                        {% endfor %}

                                                    {% endfor %}

                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>


                                    </div>
                                </div>
                            </div>
                            <!-- End Example Tabs Line With JS -->


                        </div>

                    </div>
                </div>

                <div class="col-lg-3">
                    <div class="panel">
                        <div class="panel-heading">
                            <h3 class="panel-title">Campagne</h3>

                            <div class="panel-actions">

                            </div>
                        </div>

                        <div class="panel-body">
                            <div class="btn-group" aria-label="Basic example" role="group">
                                <a type="button" href="{{ path('plot_show',{'id':plot.id,'year':year-1}) }}"
                                   class="btn btn-default waves-effect waves-light"><i
                                            class="icon md-chevron-left margin-0" aria-hidden="true"></i></a>
                                <a type="button" href="#"
                                   class="btn btn-default waves-effect waves-light">{{ year }}</a>
                                <a type="button" href="{{ path('plot_show',{'id':plot.id,'year':year+1}) }}"
                                   class="btn btn-default waves-effect waves-light"><i
                                            class="icon md-chevron-right margin-0" aria-hidden="true"></i></a>
                            </div>
                        </div>

                    </div>

                </div>

            </div>
        </div>
    </div>
{% endblock %}

{% block template_config %}
    {{ parent() }}

    <script src="{{ asset('front/global/js/plugins/responsive-tabs.js') }}"></script>
    <script src="{{ asset('front/global/js/plugins/closeable-tabs.js') }}"></script>
{% endblock %}


