{% extends 'base.html.twig' %}

{% block body %}
    <h1>Parcelle {{ plot.id }}</h1>

    <h2>Nom de la parcelle</h2>
    <p>{{ plot.name }}</p>

    <ul>
        <li>
            <a href="{{ path('plot_index') }}">Liste des parcelles</a>
        </li>
        {% if is_granted('EDIT', plot) or is_granted('ROLE_ADMIN') %}
            <li>
                <a href="{{ path('plot_edit', { 'id': plot.id }) }}">Editer</a>
            </li>
        {% endif %}
        {% if is_granted('ROLE_ADMIN') %}
            <li>
                {{ form_start(delete_form) }}
                <input type="submit" value="Supprimer">
                {{ form_end(delete_form) }}
            </li>
        {% endif %}
    </ul>

    {{ render(controller('AppBundle:CropCycle:index',{'id': plot.id } )) }}
{% endblock %}
