{% extends 'base.html.twig' %}

{% block body %}
    <h1>Plot</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ plot.id }}</td>
            </tr>
            <tr>
                <th>Nom de la parcelle</th>
                <td>{{ plot.name }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('plot_index') }}">Back to the list</a>
        </li>
        {% if is_granted('EDIT', plot) or is_granted('ROLE_ADMIN') %}
        <li>
            <a href="{{ path('plot_edit', { 'id': plot.id }) }}">Editer</a>
        </li>
        {% endif %}
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Supprimer">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
