{% extends '::base_topbar.html.twig' %}

{% block title %}
Planning
{% endblock %}

{% block plugins_stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('remark/3.0.5/classic/global/vendor/fullcalendar/fullcalendar.css') }}">
    <link rel="stylesheet" href="{{ asset('remark/3.0.5/classic/global/vendor/fullcalendar/fullcalendar.print.css') }}" media="print">
    <link rel="stylesheet" href="{{ asset('remark/3.0.5/classic/global/vendor/select2/select2.css') }}">

    <link rel="stylesheet" href="{{ asset('remark/3.0.5/classic/global/vendor/bootstrap-datepicker/bootstrap-datepicker.css') }}">
    <link rel="stylesheet" href="{{ asset('remark/3.0.5/classic/global/vendor/jt-timepicker/jquery-timepicker.css') }}">
    <link rel="stylesheet" href="{{ asset('remark/3.0.5/classic/global/vendor/bootstrap-touchspin/bootstrap-touchspin.css') }}">
    <link rel="stylesheet" href="{{ asset('remark/3.0.5/classic/global/vendor/jquery-selective/jquery-selective.css') }}">
    <link rel="stylesheet" href="{{ asset('remark/3.0.5/classic/topbar/assets/examples/css/apps/calendar.css') }}">
{% endblock %}

{% block page_stylesheets %}
    {{ parent() }}
    <style>
        table tr > td > span > button > i.icon {
            visibility: hidden;
        }

        table tr > td > span > a > i.icon {
            visibility: hidden;
        }

        table tr:hover > td > span > button > i.icon {
            visibility: visible;
        }

        table tr:hover > td > span > a > i.icon {
            visibility: visible;
        }

        .actionLink {
            text-decoration: none !important;
            color: #526069;
        }

        .helpLink {
            text-decoration: none !important;
            color: #76838f;
        }

        .helpLink:hover {
            text-decoration: underline;
            color: #526069;
        }

        table tr:hover > td > a.actionLink {
            text-decoration: underline !important;
            color: #526069;
        }

        label {
            font-weight: 500;
            font-family: Roboto, sans-serif;
        }

        .hidden {
            display: none;
        }

        .rotate {
            -moz-transition: all .2s linear;
            -webkit-transition: all .2s linear;
            transition: all .2s linear;
        }

        .rotate.down {
            -ms-transform: rotate(135deg);
            -moz-transform: rotate(135deg);
            -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
        }

        .highcharts-credits {
            visibility: hidden !important;
        }
    </style>

    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
{% endblock %}

{% block body_class %}animsition site-navbar-small app-calendar page-aside-left{% endblock %}

{% block page %}
    <div class="page-main">
        <div class="calendar-container">
            <div id="calendar" ></div>
            <!--AddEvent Dialog -->
            <div class="modal fade" id="addNewEvent" aria-hidden="true" aria-labelledby="addNewEvent"
                 role="dialog" tabindex="-1">
                <div class="modal-dialog modal-lg modal-info">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" aria-hidden="true" data-dismiss="modal">×</button>
                            <h4 class="modal-title">Ajouter une intervention</h4>
                        </div>
                        <div class="modal-body">
                            {{ render(controller('AppBundle:Action:newFromCalendar')) }}
                        </div>
                    </div>
                </div>
            </div>
            <!-- End AddEvent Dialog -->
            <!-- Edit Dialog -->
            <div class="modal fade" id="showEvent" aria-hidden="true" aria-labelledby="showEvent"
                 role="dialog" tabindex="-1" data-show="false">
                <div class="modal-dialog modal-lg modal-info" >
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                            <h4>Détail de l'intervention</h4>

                        </div>
                        <div class="modal-body" id="pushHere">

                        </div>
                    </div>
                </div>
            </div>
            <!-- End EditEvent Dialog -->

        </div>
    </div>
{% endblock %}


{% block plugins_javascripts %}
    {{ parent() }}
    <script src="{{ asset('remark/3.0.5/classic/global/vendor/jquery-ui/jquery-ui.min.js') }}"></script>
    <script src="{{ asset('remark/3.0.5/classic/global/vendor/moment/moment.min.js') }}"></script>
    <script src="{{ asset('remark/3.0.5/classic/global/vendor/fullcalendar/fullcalendar.js') }}"></script>
    <script src="{{ asset('remark/3.0.5/classic/global/vendor/fullcalendar/locale/fr.js') }}"></script>

    <script src="{{ asset('remark/3.0.5/classic/global/vendor/jquery-selective/jquery-selective.min.js') }}"></script>
    <script src="{{ asset('remark/3.0.5/classic/global/vendor/bootstrap-touchspin/bootstrap-touchspin.min.js') }}"></script>
    <script src="{{ asset('remark/3.0.5/classic/global/vendor/bootbox/bootbox.js') }}"></script>

    <script src="{{ asset('remark/3.0.5/classic/global/vendor/select2/select2.min.js') }}"></script>
    {#<script src="{{ asset('remark/3.0.5/classic/global/js/Plugin/select2.js') }}"></script>#}

    <script src="{{ asset('front/global/vendor/bootstrap-datepicker/bootstrap-datepicker.js') }}"></script>
    <script src="{{ asset('front/global/vendor/bootstrap-datepicker/bootstrap-datepicker.fr.js') }}"></script>
    <script src="{{ asset('front/global/vendor/jt-timepicker/jquery.timepicker.js') }}"></script>
    <script src="{{ asset('front/global/vendor/datepair-js/datepair.min.js') }}"></script>
    <script src="{{ asset('front/global/vendor/datepair-js/jquery.datepair.min.js') }}"></script>
    <script src="{{ asset('front/global/vendor/asspinner/jquery-asSpinner.min.js') }}"></script>


    <script src="{{ asset('front/global/js/components/bootstrap-datepicker.js') }}"></script>
    <script src="{{ asset('front/global/js/components/jt-timepicker.js') }}"></script>
    <script src="{{ asset('front/global/js/components/datepair-js.js') }}"></script>
    <script src="{{ asset('front/global/js/components/asspinner.js') }}"></script>
{% endblock %}

{% block page_javascripts %}
    {{ parent() }}
    <script src="{{ asset('remark/3.0.5/classic/topbar/assets/js/Site.js') }}"></script>
    <script>
        (function (global, factory) {
            if (typeof define === "function" && define.amd) {
                define('/App/Calendar', ['exports', 'Site', 'Config'], factory);
            } else if (typeof exports !== "undefined") {
                factory(exports, require('Site'), require('Config'));
            } else {
                var mod = {
                    exports: {}
                };
                factory(mod.exports, global.Site, global.Config);
                global.AppCalendar = mod.exports;
            }
        })(this, function (exports, _Site2, _Config) {
            'use strict';

            Object.defineProperty(exports, "__esModule", {
                value: true
            });
            exports.getInstance = exports.run = exports.AppCalendar = undefined;

            var _Site3 = babelHelpers.interopRequireDefault(_Site2);

            var Config = babelHelpers.interopRequireWildcard(_Config);

            var AppCalendar = function (_Site) {
                babelHelpers.inherits(AppCalendar, _Site);

                function AppCalendar() {
                    babelHelpers.classCallCheck(this, AppCalendar);
                    return babelHelpers.possibleConstructorReturn(this, (AppCalendar.__proto__ || Object.getPrototypeOf(AppCalendar)).apply(this, arguments));
                }

                babelHelpers.createClass(AppCalendar, [{
                    key: 'processed',
                    value: function processed() {
                        babelHelpers.get(AppCalendar.prototype.__proto__ || Object.getPrototypeOf(AppCalendar.prototype), 'processed', this).call(this);

                        this.$actionToggleBtn = $('.site-action-toggle');

                        this.handleFullcalendar();
                        this.handleEventList();
                    }
                }, {
                    key: 'handleFullcalendar',
                    value: function handleFullcalendar() {
                        var myEvents = [
                            {% for action in actions %}
                            {
                            title: '{{ action.intervention.name }} sur {{ action.cropCycle.name }} @ {{ action.cropCycle.plot.name }} ',
                                start: '{{ action.startDatetime | date('Y-m-d\\TH:i:s') }}',
                            end: '{{ action.endDatetime | date('Y-m-d\\TH:i:s') }}',
                            backgroundColor: Config.colors('cyan', 600),
                            borderColor: Config.colors('cyan', 600),
                                id:'{{ action.id }}'
                        }{% if not loop.last %},{% endif %}
                            {% endfor %}

                        ];

                        var i = 0;

                        var myOptions = {
                            header: {
                                left: null,
                                center: 'prev,title,next',
                                right: 'month,agendaWeek,agendaDay,listMonth,listWeek'
                            },
                            defaultView:'month',
                            height: 600,
                            locale: 'fr',
                            defaultDate: '{{ 'now' | date('Y-m-d') }}',
                            selectable: true,
                            selectHelper: true,
                            select: function select(start, end, jsEvent, view) {
                                if(view.name == 'month'){return;}

                                    $('#addNewEvent').modal('show');
                                $('#addNewEvent').on('shown.bs.modal', function (e) {
                                    if(i==0) {
                                        $('.select2').select2({dropdownParent: $("#addNewEvent")});
                                        $('.select2-keep').select2({closeOnSelect: false});
                                        i++;
                                    }
                                });
                                $('#action_calendar_periods_0_startDatetime_date').val(moment(start).format('L'));
                                $('#action_calendar_periods_0_startDatetime_time').val(moment(start).format('LT'));
                                $('#action_calendar_periods_0_endDatetime_date').val(moment(end).format('L'));
                                $('#action_calendar_periods_0_endDatetime_time').val(moment(end).format('LT'));


                            },
                            draggable:false,
                            editable: true,
                            eventLimit: true,
                            windowResize: function windowResize(view) {
                                var width = $(window).outerWidth();
                                var options = Object.assign({}, myOptions);
                                options.events = view.calendar.getEventCache();
                                options.aspectRatio = width < 667 ? 0.5 : 1.35;

                                $('#calendar').fullCalendar('destroy');
                                $('#calendar').fullCalendar(options);
                            },
                            eventClick: function eventClick(event) {
                                $('#showEvent').modal('show');
                                $('#pushHere').html('<div style="margin-left: 50%; margin-top:40px; margin-bottom:40px;" class="loader loader-default"></div>');
                                $.ajax({
                                    type: "GET",
                                    dataType: 'json',
                                    url: Routing.generate('action_ajax_show', { id: event.id })
                                })
                                        .done(function(response){

                                            $('#pushHere').html(response.data); //Change the html of the div with the id = "your_div"
                                        });

                            },
                            dayClick: function(date, jsEvent, view) {
                                if(view.name != 'month')
                                    return;


                                $('#calendar').fullCalendar('gotoDate', date);

                                $('#calendar').fullCalendar('changeView', 'agendaWeek')
                            },
                            events: myEvents,
                            droppable: false
                        };

                        var _options = void 0;
                        var myOptionsMobile = Object.assign({}, myOptions);

                        myOptionsMobile.aspectRatio = 0.5;
                        _options = $(window).outerWidth() < 667 ? myOptionsMobile : myOptions;

                        $('#editNewEvent').modal();
                        $('#calendar').fullCalendar(_options);
                    }
                }, {
                    key: 'handleAction',
                    value: function handleAction() {
                        var _this2 = this;

                        this.$actionToggleBtn.on('click', function (e) {
                            $('#addNewEvent').modal('show');

                            $('#addNewEvent').on('shown.bs.modal', function (e) {

                                    $('.select2').select2('destroy');
                                    $('.select2-keep').select2('destroy');
                                    $('.select2').select2({dropdownParent: $("#addNewEvent")});
                                    $('.select2-keep').select2({closeOnSelect: false});

                            });
                            e.stopPropagation();
                        });
                    }
                }, {
                    key: 'handleEventList',
                    value: function handleEventList() {
                        $('#site-action-toggle').on('click', function () {
                            $('#addNewEvent').modal('show');
                        });

                    }
                }]);
                return AppCalendar;
            }(_Site3.default);

            var instance = null;

            function getInstance() {
                if (!instance) {
                    instance = new AppCalendar();
                }
                return instance;
            }

            function run() {
                var app = getInstance();
                app.run();
            }

            exports.default = AppCalendar;
            exports.AppCalendar = AppCalendar;
            exports.run = run;
            exports.getInstance = getInstance;
        });

        $(document).ready(function() {
            AppCalendar.run();
        });
    </script>

    {{ include('@AppBundle/Resources/public/js/addActionFromCalendar.js') }}



{% endblock %}
