{% extends 'base.html.twig' %}

{% block plugin_stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('front/global/vendor/mapbox.js/mapbox.css') }}">
    <link rel="stylesheet" href="{{ asset('front/mmenu/assets/examples/css/apps/location.css') }}">
{% endblock %}

{% block body_class %}
    site-navbar-small app-location page-aside-scroll
{% endblock %}

{% block page %}
<div class="page animsition">
    <!-- Plot Sidebar -->
    <div class="page-aside">
        <div class="page-aside-switch">
            <i class="icon md-chevron-left" aria-hidden="true"></i>
            <i class="icon md-chevron-right" aria-hidden="true"></i>
        </div>
        <div class="page-aside-inner">
            <!-- Search Panel -->
            <div class="search-friends panel">
                <div class="panel-heading">
                {#
                    <div class="panel-actions">
                        <div class="input-search input-group-sm">
                            <button type="submit" class="input-search-btn">
                                <i class="icon md-search" aria-hidden="true"></i>
                            </button>
                            <input type="text" class="form-control" name="" placeholder="Chercher...">
                        </div>
                    </div>#}
                    <h3 class="panel-title">Parcelles</h3>
                </div>
            </div>
            <!-- End Search Panel -->
            <!-- Plot List -->
            <div class="app-location-list" data-plugin="pageAsideScroll">
                <div data-role="container">
                    <div data-role="content">
                        <div class="list-group row">
                            <div class="col-lg-12 padding-right-0">
                                        <a href="{{ path('plot_new') }}" class="btn btn-info btn-block">
                                            Ajouter une parcelle
                                        </a>
                            </div>
                        </div>
                        <div class="list-group row">
                        {% for plot in farm.plots %}
                            <div class="list-group-item col-xlg-6 col-lg-12 friend-info" data-friend-id="f_{{ loop.index }}">
                                <div class="widget widget-shadow">
                                    <div class="widget-content text-center bg-white padding-20">
                                        <div class="friend-name" style="font-weight:800">{{ plot.name | capitalize }}
                                        </div>
                                        <div class="friend-title blue-grey-400">
                                            {{ plot.area|number_format(2, ',', ' ') }} ha
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Plot List -->
        </div>
    </div>
    <!-- End Plot Sidebar -->

    <div class="page-main">
        <div id="map">
        </div>
    </div>

{% endblock %}

{% block core_plugin %}
    {{ parent() }}
    <script src="{{ asset('front/global/vendor/mapbox.js/mapbox.js') }}"></script>
    <script src="{{ asset('front/global/vendor/mapbox.js/plugins/leaflet.markercluster.js') }}"></script>
{% endblock %}

{% block template_config %}
    {{ parent() }}
    <script src="{{ asset('front/mmenu/assets/js/app.js') }}"></script>
    <script>
     // Set default map height
            var navbarH = $(".site-navbar").outerHeight();
            var footerH = $(".site-footer").outerHeight();
            var mapH = $(window).height() - navbarH - footerH;

            $(".page-main").outerHeight(mapH);

            // this accessToken, you can get it to here ==> [ https://www.mapbox.com ]
            L.mapbox.accessToken = 'pk.eyJ1IjoiYW1hemluZ3N1cmdlIiwiYSI6ImNpaDVubzBoOTAxZG11dGx4OW5hODl2b3YifQ.qudwERFDdMJhFA-B2uO6Rg';

            //Create map
            var map = L.mapbox.map('map', 'mapbox.streets-satellite');

            // Create FeatureGroup
            var featureGroup = L.featureGroup();

           //Drawing polygons
          {% for plot in app.user.farm.plots %}
            {% if plot.latLngs is not empty %}
            var layer = L.geoJson({{ plot.latLngs | raw }});
            layer.setStyle({color: "white", opacity: 0.8, weight: 1.5});
            layer.bindPopup("<div class='friend-popup-info'><div class='detail'>" + "{{ plot.area }} ha" + "</div><h3 class=\"margin-top-10\">" + "{{ plot.name | capitalize }}"+"</h3><p class=\"margin-top-10\"><a type=\"button\" href=\"{{ path('plot_show',{'id':plot.id}) }}\" style=\"color:\"white\";\" class=\"btn btn-default btn-sm waves-effect waves-light\">Afficher</a></p></div>", {closeButton: false});
            featureGroup.addLayer(layer);
            {% endif %}
            {% endfor %}
            featureGroup.addTo(map);

            //Zoom to farm bounds
            var bounds = featureGroup.getBounds();
            map.fitBounds(bounds);
    </script>
{% endblock %}