{% extends 'base.html.twig' %}



{% block body_class %}
    site-navbar-small
{% endblock %}

{% block page %}
    <div class="page animsition">

        <div class="page-content">

            {% for flash_message in app.session.flashBag.get('success') %}
                <div class="hidden" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    {{ flash_message }}
                </div>
            {% endfor %}
            <div class="row">
                <div class="col-lg-offset-3 col-lg-6">
                    <div class="panel panel-bordered">
                        <div class="panel-heading">
                            <h3 class="panel-title">Bienvenue sur Agroscopik !</h3>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <p>Ce logiciel vous permet d'enregistrer vos parcelles et les interventions
                                        réalisées
                                        sur
                                        ces parcelles. Avant de commencer :
                                    <ul>
                                        <li>Vous pouvez commencer par découvrir les différents menus dans la partie
                                            gauche
                                            de
                                            cette fenêtre.
                                        </li>
                                        <li>Ensuite, il est bon de renseigner votre parc de matériel dans le menu <a
                                                    href="{{ path('tractor_new') }}">Matériel</a> et faire l'inventaire
                                            dans
                                            votre <a href="{{ path('farmspeciality_index') }}">Local phytosanitaire
                                                virtuel</a>.
                                        </li>
                                        <li>Puis, vous pouvez commencer par ajouter une première parcelle depuis le menu
                                            <a
                                                    href="{{ path('plot_index') }}">Parcelle</a> ou <a
                                                    href="{{ path('farm_show_current') }}">Carte</a>.
                                        </li>
                                    </p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>

{% endblock %}

