    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Datetime</th>
                <th>Amount</th>
                <th>Unit</th>
                <th>Priceperunit</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for farmSpecialityMvt in farmSpecialityMvts %}
            <tr>
                <td><a href="{{ path('farmspecialitymvt_show', { 'id': farmSpecialityMvt.id }) }}">{{ farmSpecialityMvt.id }}</a></td>
                <td>{% if farmSpecialityMvt.datetime %}{{ farmSpecialityMvt.datetime|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ farmSpecialityMvt.amount }}</td>
                <td>{{ farmSpecialityMvt.unit }}</td>
                <td>{{ farmSpecialityMvt.pricePerUnit }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('farmspecialitymvt_show', { 'id': farmSpecialityMvt.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('farmspecialitymvt_edit', { 'id': farmSpecialityMvt.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('farmspecialitymvt_new') }}">Ajuster le stock</a>
        </li>
    </ul>
