    <table class="table table-hover">
        <tbody>
        {% for farmSpecialityMvt in farmSpecialityMvts %}
                <tr>

                    <td>
                        <a href="{{ path('farmspecialitymvt_show', { 'id': farmSpecialityMvt.id }) }}">{{ farmSpecialityMvt.category.name }} le
                        {% if farmSpecialityMvt.datetime %} {{ farmSpecialityMvt.datetime|date('d/m/Y') }}{% endif %}</a>
                    </td>
                    <td>
                        {{ farmSpecialityMvt.amount |number_format(1,',',' ') }} {{ farmSpecialityMvt.unit.symbol }}

                    </td>
                    <td>
                        {{ farmSpecialityMvt.pricePerUnit |number_format(0,',',' ') }} CFP
                    </td>
                </tr>
        {% endfor %}
        </tbody>
    </table>



