    <table class="table table-hover">
        <tbody>
        {% for farmSpecialityMvt in farmSpecialityMvts %}
                <tr>

                    <td>
                        <a href="{{ path('farmspecialitymvt_show', { 'id': farmSpecialityMvt.id }) }}">{{ farmSpecialityMvt.category.name }} le
                        {% if farmSpecialityMvt.datetime %} {{ farmSpecialityMvt.datetime|date('d/m/Y') }}{% endif %}</a>
                    </td>
                    <td>
                        {{ farmSpecialityMvt.amount |number_format(2,',',' ') }} {{ farmSpecialityMvt.unit }}

                    </td>
                    <td>
                        {{ farmSpecialityMvt.pricePerUnit }} CFP

                    </td>

                </tr>
        {% endfor %}
        </tbody>
    </table>



