{% extends 'base.html.twig' %}

{% block plugin_stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('front/global/vendor/select2/select2.css') }}">
    <link rel="stylesheet" href="{{ asset('front/global/vendor/bootstrap-datepicker/bootstrap-datepicker.css') }}">
{% endblock %}

{% block head_javascripts %}
    {{ parent() }}
    <link id="skinStyle" href="{{ asset('front/mmenu/assets/skins/teal.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block page %}

    <div class="page animsition">
        <div class="page-header padding-top-20 padding-bottom-10">
            <ol class="breadcrumb">
                <li><a href="{{ path('intervention_index') }}">Interventions</a></li>
                <li class="active">Ajouter une intervention</li>
            </ol>
        </div>
        <div class="page-content">
            <div class="row">
                <div class="col-lg-6 col-lg-offset-3">
                    <div class="panel panel-bordered">
                        <div class="panel-heading">
                            <h3 class="panel-title">Ajouter une intervention</h3>
                        </div>
                        <div class="panel-body">
                            {{ form_start(form) }}
                            <div class="row">
                                <div class="col-lg-12">
                                    <h4 class="example-title">{{ form_label(form.name) }}</h4>


                                    {{ form_errors(form.name) }}
                                    {{ form_widget(form.name) }}
                                </div>
                            </div>
                            <div class="row margin-top-20">
                                <div class="col-lg-12">
                                    <h4 class="example-title">{{ form_label(form.interventionCategory) }}</h4>

                                    <div class="form-group">
                                            {{ form_errors(form.interventionCategory) }}
                                            {{ form_widget(form.interventionCategory) }}
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="panel-footer">
                            <a class="btn btn-default"
                               href="{{ path('intervention_index') }}">Liste des interventions disponibles</a>
                            <button class="btn btn-primary margin-left-10" type="submit">Enregistrer</button>
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block template_config %}
    {{ parent() }}
    <script src="{{ asset('front/global/vendor/select2/select2.min.js') }}"></script>
    <script src="{{ asset('front/global/js/components/select2.js') }}"></script>

    <script src="{{ asset('front/global/vendor/bootstrap-datepicker/bootstrap-datepicker.js') }}"></script>
    <script src="{{ asset('front/global/vendor/bootstrap-datepicker/bootstrap-datepicker.fr.js') }}"></script>
    <script src="{{ asset('front/global/js/components/bootstrap-datepicker.js') }}"></script>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        $(document).ready(function () {
                    $('.date').datepicker({
                        'format': 'mm/yyyy',
                        'startView': 'decade',
                        'minViewMode': 'months',
                        'language': 'fr',
                        'orientation':'bottom',
                        'autoclose': true
                    });

                }
        );
    </script>
{% endblock %}
