{% extends 'base.html.twig' %}

{% block body %}
    <h1>Intervention</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ intervention.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ intervention.name }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('intervention_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('intervention_edit', { 'id': intervention.id }) }}">Editer</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Supprimer">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
