<!DOCTYPE html>
<html class="no-js css-menubar" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description" content="bootstrap admin template">
    <meta name="author" content="">
    <title>Agroscopik | Bienvenue sur votre exploitation</title>
    <link rel="apple-touch-icon" href="{{ asset('remark/3.0.5/classic/topbar/assets/images/apple-touch-icon.png') }}">
    <link rel="shortcut icon" href="{{ asset('remark/3.0.5/classic/topbar/assets/images/favicon.ico') }}">
    <!-- Stylesheets -->
    <link rel="stylesheet" href="{{ asset('remark/3.0.5/classic/global/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('remark/3.0.5/classic/global/css/bootstrap-extend.min.css') }}">
    <link rel="stylesheet" href="{{ asset('remark/3.0.5/classic/topbar/assets/css/site.min.css') }}">
    <!-- Plugins -->
    <link rel="stylesheet" href="{{asset('remark/3.0.5/classic/global/vendor/animsition/animsition.min.css')}}">
    <link rel="stylesheet" href="{{ asset('remark/3.0.5/classic/global/vendor/asscrollable/asScrollable.min.css') }}">
    <link rel="stylesheet" href="{{ asset('remark/3.0.5/classic/global/vendor/switchery/switchery.min.css') }}">
    <link rel="stylesheet" href="{{ asset('remark/3.0.5/classic/global/vendor/intro-js/introjs.min.css') }}">
    <link rel="stylesheet" href="{{ asset('remark/3.0.5/classic/global/vendor/slidepanel/slidePanel.min.css') }}">
    <link rel="stylesheet" href="{{ asset('remark/3.0.5/classic/global/vendor/flag-icon-css/flag-icon.min.css') }}">
    <link rel="stylesheet" href="{{ asset('remark/3.0.5/classic/global/vendor/mapbox-js/mapbox.min.css') }}">
    <link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-draw/v0.2.3/leaflet.draw.css' rel='stylesheet' />
    <link rel="stylesheet" href="{{ asset('remark/3.0.5/classic/topbar/assets/examples/css/apps/location.css')}}"> {# Temporary fix #}
    <style>
        .leaflet-popup-tip-container {
            left: -35px;
        }
        
        .leaflet-control-layers-toggle {
            font-family: Roboto, sans-serif;
        }
        
        .leaflet-editing-icon {
            border-radius: 100%;
            opacity: 1;
        }
        
        .created-div {
            border: 10px solid #088;
            -webkit-border-radius: 30px;
            -moz-border-radius: 30px;
            border-radius: 30px;
            height: 20px;
            width: 20px;
            -webkit-animation: hugo 0.5s;
            -moz-animation: hugo 0.5s;
            animation: hugo 0.5s;
            transform-origin: center;
            /*opacity: 0.0*/
        }
        
        @keyframes hugo {
            from {
                transform: scale(3);
            }
            to {
                transform: none;
            }
        }
        
        .leaflet-draw {
            display: none;
        }
    </style>
    <!-- Fonts -->
    <link rel="stylesheet" href="{{ asset('remark/3.0.5/classic/global/fonts/font-awesome/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ asset('remark/3.0.5/classic/global/fonts/web-icons/web-icons.min.css') }}">
    <link rel="stylesheet" href="{{ asset('remark/3.0.5/classic/global/fonts/brand-icons/brand-icons.min.css') }}">
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,300italic'>
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="{{ asset('remark/3.0.5/classic/global/vendor/html5shiv/html5shiv.min.js') }}"></script>
    <![endif]-->
    <!--[if lt IE 10]>
    <script src="{{ asset('remark/3.0.5/classic/global/vendor/media-match/media.match.min.js')}}"></script>
    <script src="{{ asset('remark/3.0.5/classic/global/vendor/respond/respond.min.js') }}"></script>
    <![endif]-->
    <!-- Scripts -->
    <script src="{{ asset('remark/3.0.5/classic/global/vendor/breakpoints/breakpoints.min.js') }}"></script>
    <script>
        Breakpoints();
    </script>
</head>

<body class="animsition site-navbar-small app-location page-aside-scroll page-aside-left">
    <!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
    <nav class="site-navbar navbar navbar-default navbar-fixed-top navbar-mega navbar-inverse bg-cyan-600 " role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggler hamburger hamburger-close navbar-toggler-left hided" data-toggle="menubar">
            <span class="sr-only">Toggle navigation</span>
            <span class="hamburger-bar"></span>
        </button>
            <button type="button" class="navbar-toggler collapsed" data-target="#site-navbar-collapse" data-toggle="collapse">
            <i class="icon md-more" aria-hidden="true"></i>
        </button>
            <a class="navbar-brand navbar-brand-center" href="../../index.html">
                <span class="navbar-brand-text hidden-xs-down">AGROSCOPIK</span>
            </a>
        </div>
        <div class="navbar-container container-fluid">
            <!-- Navbar Collapse -->
            <div class="collapse navbar-collapse navbar-collapse-toolbar" id="site-navbar-collapse">
                <!-- Navbar Toolbar -->
                <ul class="nav navbar-toolbar">
                    <li class="nav-item hidden-float" id="toggleMenubar">
                        <a class="nav-link" data-toggle="menubar" href="#" role="button">
                            <i class="icon hamburger hamburger-arrow-left">
                            <span class="sr-only">Toggle menubar</span>
                            <span class="hamburger-bar"></span>
                        </i>
                        </a>
                    </li>
                    <li class="nav-item hidden-sm-down" id="toggleFullscreen">
                        <a class="nav-link icon icon-fullscreen" data-toggle="fullscreen" href="#" role="button">
                            <span class="sr-only">Toggle fullscreen</span>
                        </a>
                    </li>
                </ul>
                <!-- End Navbar Toolbar -->
                <!-- Navbar Toolbar Right -->
                <ul class="nav navbar-toolbar navbar-right navbar-toolbar-right">
                    <li class="nav-item dropdown">
                        <a class="nav-link navbar-avatar" data-toggle="dropdown" href="#" aria-expanded="false" data-animation="scale-up" role="button">
                            <span class="avatar avatar-online">
                <img src="{{ asset('remark/3.0.5/classic/topbar/assets/portraits/5.jpg') }}" alt="...">
                <i></i>
              </span>
                        </a>
                        <div class="dropdown-menu" role="menu">
                            <a class="dropdown-item" href="javascript:void(0)" role="menuitem"><i class="icon md-account" aria-hidden="true"></i> Profil</a>
                            <a class="dropdown-item" href="javascript:void(0)" role="menuitem"><i class="icon md-settings" aria-hidden="true"></i> Paramètres</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="javascript:void(0)" role="menuitem"><i class="icon md-power" aria-hidden="true"></i> Déconnexion</a>
                        </div>
                    </li>
                </ul>
                <!-- End Navbar Toolbar Right -->
            </div>
            <!-- End Navbar Collapse -->
        </div>
    </nav>
    <div class="site-menubar site-menubar-light">
        <div class="site-menubar-body">
            <div>
                <div>
                    <ul class="site-menu" data-plugin="menu" style="font-weight: 500;">
                        <li class="site-menu-category">General</li>
                        <li class="site-menu-item">
                            <a href="{{ path('dashboard') }}">
                                <span class="site-menu-title">Carte</span>
                            </a>
                        </li>
                        <li class="site-menu-item">
                            <a href="{{ path('dashboard') }}">
                                <span class="site-menu-title">Planning</span>
                            </a>
                        </li>
                        <li class="site-menu-item">
                            <a href="{{ path('dashboard') }}">
                                <span class="site-menu-title">Synthèses</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="page">
        <!-- Firends Sidebar -->
        <div class="page-aside">
            <div class="page-aside-switch">
                <i class="icon md-chevron-left" aria-hidden="true"></i>
                <i class="icon md-chevron-right" aria-hidden="true"></i>
            </div>
            <div class="page-aside-inner">
                <!-- Firends List -->
                <div class="app-location-list page-aside-scroll">
                    <div data-role="container">
                        <div data-role="content">
                            <div class="list-group row">
                                <div class="col-lg-12" style="
                                padding-right: 0px;
                                margin-bottom: 15px;
                                margin-top: 15px
                            ">
                                    <button class="btn btn-info btn-block" onclick="
                                    $('#form_new_plot').toggle(400);       
                                    $(this).text(function(i, text){
                                    window.drawControl._toolbars[L.DrawToolbar.TYPE]._modes.polygon.handler.disable(); 
                                    window.featureGroup2.clearLayers();
                                    $('form')[0].reset();
                                    $('.leaflet-draw').hide();

                                    return text === 'Ajouter une parcelle' ? 'Annuler' : 'Ajouter une parcelle';  
                                })">Ajouter une parcelle</button>
                                    <div id="form_new_plot" class="panel" style="display:none;margin-top:15px;">
                                        <div class="panel-body">
                                            {{ render(controller('AppBundle:Plot:NewFromDashboard')) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12" style="padding-left:15px; padding-right:0px;">
                                    <div class="panel-group" id="exampleAccordionDefault" aria-multiselectable="true" role="tablist">
                                    {% if farm.plots is not empty %} 
                                        {% for plot in farm.plots %}
                                        <div class="panel">
                                            <div class="panel-heading" id="panel_plot_{{plot.id}}" data-plot-id={{ loop.index0 }} role="tab">
                                                <a class="panel-title collapsed friend-name" data-toggle="collapse" href="#plot_{{plot.id}}" data-parent="#exampleAccordionDefault"
                                                    aria-expanded="false" aria-controls="exampleCollapseDefaultOne">
                                                {{plot.name | capitalize}} <small>{{ plot.area|number_format(2, ',', ' ') }} ha</small>
                                                </a>
                                            </div>
                                            <div class="panel-collapse collapse" id="plot_{{plot.id}}" aria-labelledby="panel_plot_{{plot.id}}" role="tabpanel" aria-expanded="false"
                                                style="height: 0px;">
                                                <div class="panel-body table-responsive" style="
                                                        padding-top: 0px;
                                                        padding-bottom: 5px;
                                                    ">

                                                    <button class="btn btn-default btn-outline btn-block" data-target="#exampleNifty3dSign" data-toggle="modal" type="button" style="margin-bottom:10px;"> Ajouter une culture</button>

                                                    {% if plot.cropCycles is not empty %}
                                                    <table class="table table-hover ">
                                                        <tbody>

                                                            {% for cycle in plot.cropCycles %}
                                                            <tr {% if loop.first %}style="border-top:none;" {% endif %}>
                                                                <td style="color:lightgrey;{% if loop.first %}border-top:none;{% endif %}">{{ loop.index }}</td>
                                                                <td {% if loop.first %}style="border-top:none;" {% endif %}><a href="{{ path('cropcycle_show',{'id':cycle.id})}}" style="color: rgba(118,131,143,1);text-decoration:none;">{{ cycle.name }} <small>{{cycle.area |number_format(2, ',', ' ') }} ha</small></a></td>
                                                                <td {% if loop.first %}style="border-top:none;" {% endif %}>
                                                                </td>
                                                            </tr>
                                                            {% endfor %}

                                                        </tbody>
                                                    </table>
                                                    {% endif %}

                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %} 
                                    {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Firends List -->
            </div>
        </div>
        <!-- End Firends Sidebar -->
        <div class="page-main">
            <div id="map">
            </div>
        </div>

        <!-- Modal New Crop Cycle -->
        <div class="modal fade modal-3d-sign modal-info " id="exampleNifty3dSign" aria-hidden="true" aria-labelledby="exampleModalTitle" role="dialog"
            tabindex="-1" style="display: none;">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                        <h4 class="modal-title">Ajouter une culture</h4>
                    </div>
                    <div class="modal-body">
                        
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default margin-0" data-dismiss="modal">Annuler</button>
                        <button type="button" class="btn btn-primary">Enregistrer</button>
                    </div>
                </div>
            </div>
        </div>
     <!-- End Modal New Crop Cycle -->

    </div>
    <!-- Core  -->
    <script src="{{ asset('remark/3.0.5/classic/global/vendor/babel-external-helpers/babel-external-helpers.js') }}"></script>
    <script src="{{ asset('remark/3.0.5/classic/global/vendor/jquery/jquery.min.js') }}"></script>
    <script src="{{ asset('remark/3.0.5/classic/global/vendor/tether/tether.min.js') }}"></script>
    <script src="{{ asset('remark/3.0.5/classic/global/vendor/bootstrap/bootstrap.min.js') }}"></script>
    <script src="{{ asset('remark/3.0.5/classic/global/vendor/animsition/animsition.min.js') }}"></script>
    <script src="{{ asset('remark/3.0.5/classic/global/vendor/mousewheel/jquery.mousewheel.min.js') }}"></script>
    <script src="{{ asset('remark/3.0.5/classic/global/vendor/asscrollbar/jquery-asScrollbar.min.js') }}"></script>
    <script src="{{ asset('remark/3.0.5/classic/global/vendor/asscrollable/jquery-asScrollable.js') }}"></script>
    <!-- Plugins -->
    <script src="{{ asset('remark/3.0.5/classic/global/vendor/switchery/switchery.min.js') }}"></script>
    <script src="{{ asset('remark/3.0.5/classic/global/vendor/intro-js/intro.min.js') }}"></script>
    <script src="{{ asset('remark/3.0.5/classic/global/vendor/screenfull/screenfull.min.js') }}"></script>
    <script src="{{ asset('remark/3.0.5/classic/global/vendor/slidepanel/jquery-slidePanel.min.js') }}"></script>
    <script src="{{ asset('remark/3.0.5/classic/global/vendor/mapbox-js/mapbox.js') }}"></script>
    <script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-draw/v0.2.3/leaflet.draw.js'></script>
    <script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-geodesy/v0.1.0/leaflet-geodesy.js'></script>
    <script src="{{ asset('remark/3.0.5/classic/global/js/State.min.js') }}"></script>
    <script src="{{ asset('remark/3.0.5/classic/global/js/Component.min.js') }}"></script>
    <script src="{{ asset('remark/3.0.5/classic/global/js/Plugin.min.js') }}"></script>
    <!-- Scripts -->
    <script src="{{ asset('remark/3.0.5/classic/global/js/Base.min.js') }}"></script>
    <script src="{{ asset('remark/3.0.5/classic/global/js/Config.min.js') }}"></script>
    <script src="{{ asset('remark/3.0.5/classic/topbar/assets/js/Section/Menubar.min.js') }}"></script>
    <script src="{{ asset('remark/3.0.5/classic/topbar/assets/js/Section/Sidebar.min.js') }}"></script>
    <script src="{{ asset('remark/3.0.5/classic/topbar/assets/js/Section/PageAside.min.js') }}"></script>
    <script src="{{ asset('remark/3.0.5/classic/topbar/assets/js/Plugin/menu.min.js') }}"></script>
    <!-- Config -->
    <script src="{{ asset('remark/3.0.5/classic/global/js/config/colors.min.js') }}"></script>
    <script src="{{ asset('remark/3.0.5/classic/topbar/assets/js/config/tour.min.js') }}"></script>
    <script>
    Config.set('assets', '{{ app.request.getBaseURL() }}/web/remark/3.0.5/classic/topbar/assets');
</script>
    <!-- Page -->
    <script src="{{ asset('remark/3.0.5/classic/topbar/assets/js/Site.js') }}"></script>
    <script src="{{ asset('remark/3.0.5/classic/global/js/Plugin/asscrollable.js') }}"></script>
    <script src="{{ asset('remark/3.0.5/classic/global/js/Plugin/slidepanel.js') }}"></script>
    <script src="{{ asset('remark/3.0.5/classic/global/js/Plugin/switchery.js') }}"></script> {# Map script #}
    <script>
    (function (global, factory) {
        if (typeof define === "function" && define.amd) {
            define('/App/Location', ['exports', 'Site'], factory);
        } else if (typeof exports !== "undefined") {
            factory(exports, require('Site'));
        } else {
            var mod = {
                exports: {}
            };
            factory(mod.exports, global.Site);
            global.AppLocation = mod.exports;
        }
    })(this, function (exports, _Site2) {
        'use strict';

        Object.defineProperty(exports, "__esModule", {
            value: true
        });
        exports.getInstance = exports.run = exports.AppLocation = undefined;

        var _Site3 = babelHelpers.interopRequireDefault(_Site2);

        var Map = function () {
            function Map() {
                babelHelpers.classCallCheck(this, Map);


                this.window = $(window);
                this.$siteNavbar = $('.site-navbar');
                this.$siteFooter = $('.site-footer');
                this.$pageMain = $('.page-main');

                this.handleMapHeight();
            }

            babelHelpers.createClass(Map, [{
                key: 'handleMapHeight',
                value: function handleMapHeight() {
                    var footerH = this.$siteFooter.outerHeight(),
                            navbarH = this.$siteNavbar.outerHeight();
                    var mapH = this.window.height() - navbarH - footerH - 50;
                    this.$pageMain.outerHeight(mapH);
                }
            }, {
                key: 'getMap',
                value: function getMap() {
                    L.mapbox.accessToken = 'pk.eyJ1IjoiaHVnb2xlaG91eCIsImEiOiItOHl6Sm5jIn0.12l_k0K_Z28UE-Jc0kDgpw';
                    var map = L.mapbox.map('map','mapbox.streets',{ zoomControl: false }).setView([38.8922,-77.0348], 14);
                    new L.Control.Zoom({ position: 'topright' }).addTo(map);

                    L.control.layers({
                        'Carte': L.mapbox.tileLayer('mapbox.streets').addTo(map),
                        'Google Satellite': L.tileLayer('http://{s}.google.com/vt/lyrs=s,h&x={x}&y={y}&z={z}',{
                            maxZoom: 20,
                            subdomains:['mt0','mt1','mt2','mt3']
                        }),
                        'Google Street': L.tileLayer('http://{s}.google.com/vt/lyrs=m&x={x}&y={y}&z={z}',{
                            maxZoom: 20,
                            subdomains:['mt0','mt1','mt2','mt3']
                        }),
                        'Image satellite Mapbox': L.mapbox.tileLayer('mapbox.streets-satellite'),
                    }).addTo(map);


                var coords = [];

                    // Create a coords array
                     //Drawing polygons
                {% for plot in farm.plots %}
                    {% if plot.latLngs is not empty %}
                    // Add current polygon and add an attribute alt
                    var layer = L.geoJson({{ plot.latLngs | raw }});
                    
                    coords.push(layer.getBounds());
                    console.log(this.coords);

                    {% endif %}
                {% endfor %}

                  // Handle click and zoom
                   $(".panel-heading").on("click", function() {
                    var plotId = $(this).attr("data-plot-id");
                                           console.log("clicked" + plotId);

                    map.fitBounds(coords[plotId]);
                    
                }); 

                //Launch leaflet draw
                window.featureGroup2 = L.featureGroup().addTo(map);
                featureGroup2 = window.featureGroup2;
                // Enable drawing polygons
                window.drawControl = new L.Control.Draw({
                    edit: {
                        featureGroup: featureGroup2,
                        selectedPathOptions: {
                            dashArray: "8,6",
                            color: '#088',
                            opacity: 0.8,
                            weight: 1.5
                        }
                    },
                    draw: {
                        polyline: false,
                        circle: false,
                        marker: false,
                        rectangle: false,
                        polygon: {
                            icon: new L.DivIcon({
                                iconSize: new L.Point(20, 20),
                                className: 'leaflet-div-icon leaflet-editing-icon my-own-icon',
                                html: '<div class="created-div"></div>'
                            }),
                            shapeOptions: {
                                dashArray: "8,6",
                                color: '#088',
                                opacity: 0.8,
                                weight: 1.5
                            }
                        }
                    }
                }).addTo(map);

                                // Change Leaflet draw messages
                L.drawLocal = {
                    draw: {
                        toolbar: {
                            actions: {
                                title: 'Annulez le dessin',
                                text: 'Annuler'
                            },
                            buttons: {
                                polyline: 'Dessiner une polyligne',
                                polygon: 'Dessiner ma parcelle',
                                rectangle: 'Dessiner un rectangle',
                                circle: 'Dessiner un cercle',
                                marker: 'Dessiner un marqueur'
                            }
                        },
                        handlers: {
                            circle: {
                                tooltip: {
                                    start: 'Cliquez et déplacez pour dessiner un cercle.'
                                }
                            },
                            marker: {
                                tooltip: {
                                    start: 'Cliquez sur la carte pour placer un marqueur.'
                                }
                            },
                            polygon: {
                                tooltip: {
                                    start: 'Vous pouvez commencer à dessiner votre parcelle.',
                                    cont: 'Vous pouvez continuer à dessiner votre parcelle',
                                    end: 'Cliquez sur votre premier point quand vous avez terminé.'
                                }
                            },
                            polyline: {
                                error: '<strong>Erreur:</strong> Les arrêtes de la forme ne doivent pas se croiser!',
                                tooltip: {
                                    start: 'Cliquez pour commencer à dessiner d\'une ligne.',
                                    cont: 'Cliquez pour continuer à dessiner une ligne.',
                                    end: 'Cliquez sur le dernier point pour terminer la ligne.'
                                }
                            },
                            rectangle: {
                                tooltip: {
                                    start: 'Cliquez et déplacez pour dessiner un rectangle.'
                                }
                            },
                            simpleshape: {
                                tooltip: {
                                    end: 'Relachez la souris pour finir de dessiner.'
                                }
                            }
                        }
                    },
                    edit: {
                        toolbar: {
                            actions: {
                                save: {
                                    title: 'Enregistrer les changements.',
                                    text: 'Enregistrer'
                                },
                                cancel: {
                                    title: 'Annuler les modifications.',
                                    text: 'Annuler'
                                }
                            },
                            buttons: {
                                edit: 'Modifier la parcelle.',
                                editDisabled: 'Aucune parcelle à modifier.',
                                remove: 'Supprimer la parcelle.',
                                removeDisabled: 'Aucune parcelle à supprimer.'
                            }
                        },
                        handlers: {
                            edit: {
                                tooltip: {
                                    text: 'Déplacez les points pour modifier la parcelle.',
                                    subtext: ''
                                }
                            },
                            remove: {
                                tooltip: {
                                    text: 'Cliquez sur la parcelle à supprimer'
                                }
                            }
                        }
                    }
                };

                    // On draw created, add polygon values to the form
                map.on('draw:created', function (e) {
                    var layer = e.layer;
                    featureGroup2.clearLayers();
                    featureGroup2.addLayer(layer);
                    $("#plot_area").val(getPolygonArea(layer));
                    var latLngs = JSON.stringify(layer.toGeoJSON());
                    $("#plot_latLngs").val(latLngs);
                    map.fitBounds(layer.getBounds());
                });

                // On draw edited, update polygon values to the form
                map.on('draw:edited', function (e) {
                    e.layers.eachLayer(function (layer) {
                        featureGroup2.clearLayers();
                        featureGroup2.addLayer(layer);
                        $("#plot_area").val(getPolygonArea(layer));
                        var latLngs = JSON.stringify(layer.toGeoJSON());
                        $("#plot_latLngs").val(latLngs);
                    });
                });
                // On draw deletestop, delete previous plot
                map.on('draw:deletestop', function (e) {
                    featureGroup2.clearLayers();
                    $("#plot_latLngs").val("");
                    $("#plot_area").val("");
                });

                // Get Polygon Area function
                function getPolygonArea(layer) {
                    var area = LGeo.area(layer) / 10000;
                    return area.toFixed(3);
                }

                    return map;
                }
            }]);
            return Map;
        }();

        var Markers = function () {
            function Markers(friends, map) {
                babelHelpers.classCallCheck(this, Markers);


                this.friends = friends;
                this.map = map;
                this.allMarkers = [];

                this.handleMarkers();
            }

            babelHelpers.createClass(Markers, [{
                key: 'handleMarkers',
                value: function handleMarkers() {
                // Create FeatureGroup to handle the plots and cropCycles
                var featureGroup = L.featureGroup();
                var featureGroup2 = L.featureGroup();

                //Drawing polygons
                {% for plot in farm.plots %}
                    {% if plot.latLngs is not empty %}
                    // Add current polygon and add an attribute alt
                    var layer = L.geoJson({{ plot.latLngs | raw }});
                    //Set style
                    layer.setStyle({color: "white", Opacity:0.9, fillOpacity: 0.8, weight: 1.5});

                    //Add a popup
                    layer.bindPopup("<div class='friend-popup-info'><div class='detail'>" + "{{ plot.area | number_format(2,","," ") }} ha" + "</div><h3 class=\"margin-top-10\">" + "{{ plot.name | upper }}"+"</h3></div>", {closeButton: false});

                    
                    // Add current polygon to featureGroup
                    featureGroup.addLayer(layer);
                    // Add it inside allMarkers array
                    this.allMarkers.push(layer);
                    {% endif %}

                    // Add cropcycles polygons
                    {% for cycle in plot.cropCycles %}
                        {% if cycle.latLngs is not empty and cycle.status == "ActiveAction" %}
                                // Add current polygon and add an attribute alt
                                var layer2 = L.geoJson({{ cycle.latLngs | raw }});
                                var color = "red";
                                {% for crop in cycle.crops %}
                                var color = "{{ crop.color }}";
                                {% endfor %}
                                //Set style
                                layer2.setStyle({color: color, Opacity:1, fillOpacity: 0.8, weight: 1.5});
                                //Add a popup
                                layer2.bindPopup("<div class='friend-popup-info'><div class='detail'>" + "{{ cycle.area | number_format(2,","," ") }} ha" + "</div><h3 class=\"margin-top-10\" style=\"font-weight: 500;color:#76838f;    text-transform: capitalize;\"><a href=\"{{ path('action_new',{'id':cycle.id}) }}\">" + "{{ cycle.name | capitalize }}"+"</a></h3><p>sur la parcelle " +"{{plot.name | capitalize}}"+"</p></div></div>", {closeButton: false});
                                // Add current polygon to featureGroup
                                featureGroup2.addLayer(layer2);
                        {% endif %}
                    {% endfor %}

                {% endfor %}
                // Add plots to the map
                featureGroup.addTo(this.map);
                featureGroup2.addTo(this.map);             

                //Zoom to farm bounds
                var bounds = featureGroup.getBounds();
                this.map.fitBounds(bounds);  

                }
            },{
                key: 'getAllMarkers',
                value: function getAllMarkers() {
                    return this.allMarkers;
                }
            }]);
            return Markers;
        }();

        var AppLocation = function (_Site) {
            babelHelpers.inherits(AppLocation, _Site);

            function AppLocation() {
                babelHelpers.classCallCheck(this, AppLocation);
                return babelHelpers.possibleConstructorReturn(this, (AppLocation.__proto__ || Object.getPrototypeOf(AppLocation)).apply(this, arguments));
            }

            babelHelpers.createClass(AppLocation, [{
                key: 'processed',
                value: function processed() {
                    babelHelpers.get(AppLocation.prototype.__proto__ || Object.getPrototypeOf(AppLocation.prototype), 'processed', this).call(this);

                    this.window = $(window);
                    this.$listItem = $('.app-location .page-aside .list-group');
                    this.allFriends = $('.app-location .friend-info');
                    this.mapbox = new Map();

                    this.map = this.mapbox.getMap();
                    this.markers = new Markers(this.$allFriends, this.map);
                    this.allMarkers = this.markers.getAllMarkers();

                    this.friendNum = null;

                    this.handleResize();
                }
            }, {
                key: 'getDefaultState',
                value: function getDefaultState() {
                    return Object.assign(babelHelpers.get(AppLocation.prototype.__proto__ || Object.getPrototypeOf(AppLocation.prototype), 'getDefaultState', this).call(this), {
                        mapChange: true,
                        listItemActive: false
                    });
                }
            }, {
                key: 'handleResize',
                value: function handleResize() {
                    var _this4 = this;

                    this.window.on('resize', function () {
                        _this4.mapbox.handleMapHeight();
                    });
                }
            }]);
            return AppLocation;
        }(_Site3.default);

        var instance = null;

        function getInstance() {
            if (!instance) {
                instance = new AppLocation();
            }
            return instance;
        }

        function run() {
            var app = getInstance();
            app.run();
        }

        exports.default = AppLocation;
        exports.AppLocation = AppLocation;
        exports.run = run;
        exports.getInstance = getInstance;
    });

</script>
    <script src="{{ asset('remark/3.0.5/classic/topbar/assets/examples/js/apps/location.js') }}"></script>
</body>

</html>