{% extends 'base_topbar.html.twig' %}

{% block title %} Edition d'intervention sur {{ action.cropCycle.name | capitalize }}{% endblock %}

{% block plugins_stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('remark/3.0.5/classic/global/vendor/select2/select2.css') }}">
    <link rel="stylesheet"
          href="{{ asset('remark/3.0.5/classic/global/vendor/bootstrap-datepicker/bootstrap-datepicker.css') }}">
    <link rel="stylesheet" href="{{ asset('remark/3.0.5/classic/global/vendor/jt-timepicker/jquery-timepicker.css') }}">
    <link rel="stylesheet" href="{{ asset('remark/3.0.5/classic/global/vendor/asspinner/asSpinner.css') }}">
{% endblock %}

{% block page_stylesheets %}
    {{ parent() }}
    <style>
        table tr > td > span > button > i.icon {
            visibility: hidden;
        }

        table tr > td > span > a > i.icon {
            visibility: hidden;
        }

        table tr:hover > td > span > button > i.icon {
            visibility: visible;
        }

        table tr:hover > td > span > a > i.icon {
            visibility: visible;
        }

        .actionLink {
            text-decoration: none !important;
            color: #526069;
        }

        .helpLink {
            text-decoration: none !important;
            color: #76838f;
        }

        .helpLink:hover {
            text-decoration: underline;
            color: #526069;
        }

        table tr:hover > td > a.actionLink {
            text-decoration: underline !important;
            color: #526069;
        }

        label {
            font-weight: 500;
            font-family: Roboto, sans-serif;
        }

        .hidden {
            display: none;
        }

        .rotate {
            -moz-transition: all .2s linear;
            -webkit-transition: all .2s linear;
            transition: all .2s linear;
        }

        .rotate.down {
            -ms-transform: rotate(135deg);
            -moz-transform: rotate(135deg);
            -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
        }
    </style>
{% endblock %}

{% block page %}
<div class="page-content">
    <!-- Panel Add Action -->
    <div class="row" id="editAction">
        <div class="col-md-3 col-sm-0">

        </div>
        <div class="col-md-6">
            <div class="panel panel-info panel-bordered">
                <header class="panel-heading">
                    <div class="panel-actions"></div>
                    <h3 class="panel-title">Modifier un tracteur</h3>
                </header>
                <div class="panel-body" style="padding-top:20px;">
                    {{ form_start(edit_form, {'action': path('tractor_edit',{'id':tractor.id}), 'method': 'POST'}) }}

                    <div class="row" id="intervention">
                        <div class="col-sm-0 col-md-2"></div>
                        <div class="col-sm-12 col-md-8">
                            <div class="form-group">
                                {{ form_label(edit_form.model) }}
                                {{ form_errors(edit_form.model) }}
                                {{ form_widget(edit_form.model) }}
                                <a class="pull-right helpLink" href="{{ path('tractormodel_new') }}">
                                    Ajouter un tracteur qui n'est pas dans la liste déroulante
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top:20px;">
                        <div class="col-sm-0 col-md-2"></div>
                        <div class="col-sm-12 col-md-4">
                            <div class="form-group">
                                {{ form_label(edit_form.startDatetime) }}
                                {{ form_errors(edit_form.startDatetime) }}
                                <div class="input-group">
                                    <span class="input-group-addon"><span class="icon wb-calendar" aria-hidden="true"></span></span>
                                    {{ form_widget(edit_form.startDatetime) }}
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-4">
                            <div class="form-group">
                                {{ form_label(edit_form.price) }}
                                {{ form_errors(edit_form.price) }}
                                <div class="input-group">
                                    {{ form_widget(edit_form.price) }}
                                    <span class="input-group-addon">CFP</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top:20px;">
                        <div class="col-sm-0 col-md-2"></div>
                        <div class="col-sm-12 col-md-8">
                            <button class="btn btn-info margin-left-10" type="submit">Enregistrer</button>
                            {{ form_end(edit_form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Panel Add Action -->
{% endblock %}


    {% block plugins_javascripts %}
        {{ parent() }}

        <script src="{{ asset('remark/3.0.5/classic/global/vendor/select2/select2.min.js') }}"></script>

        <script src="{{ asset('front/global/vendor/bootstrap-datepicker/bootstrap-datepicker.js') }}"></script>
        <script src="{{ asset('front/global/vendor/bootstrap-datepicker/bootstrap-datepicker.fr.js') }}"></script>
        <script src="{{ asset('front/global/vendor/jt-timepicker/jquery.timepicker.js') }}"></script>
        <script src="{{ asset('front/global/js/components/bootstrap-datepicker.js') }}"></script>
        <script src="{{ asset('front/global/js/components/jt-timepicker.js') }}"></script>

    {% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        $(document).ready(function () {
                    $('.date').datepicker({
                        'format': 'mm/yyyy',
                        'startView': 'decade',
                        'minViewMode': 'months',
                        'language': 'fr',
                        'orientation':'bottom',
                        'autoclose': true
                    });

                }
        );
    </script>
{% endblock %}
