{% extends 'base.html.twig' %}

{% block plugin_stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('front/global/vendor/select2/select2.css') }}">
    <link rel="stylesheet" href="{{ asset('front/global/vendor/bootstrap-datepicker/bootstrap-datepicker.css') }}">
{% endblock %}

{% block head_javascripts %}
    {{ parent() }}
    <link id="skinStyle" href="{{ asset('front/mmenu/assets/skins/teal.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block page %}

    <div class="page animsition">
        <div class="page-header padding-top-20 padding-bottom-10">
            <ol class="breadcrumb">
                <li><a href="{{ path('tractor_index') }}">Tracteurs</a></li>
                <li class="active">Modifier un tracteur</li>
            </ol>
        </div>
        <div class="page-content">
            <div class="row">
                <div class="col-lg-6 col-lg-offset-3">
                    <div class="panel panel-bordered">
                        <div class="panel-heading">
                            <h3 class="panel-title">Modifier un tracteur</h3>
                        </div>
                        <div class="panel-body">
                            {{ form_start(edit_form) }}
                            <div class="row">
                                <div class="col-lg-12">
                                    <h4 class="example-title">{{ form_label(edit_form.model) }}</h4>


                                    {{ form_errors(edit_form.model) }}
                                    {{ form_widget(edit_form.model) }}
                                </div>
                            </div>
                            <div class="row margin-top-30">
                                <div class="col-lg-6 ">
                                    <h4 class="example-title">{{ form_label(edit_form.startDatetime) }}</h4>

                                    <div class="form-group">

                                        <div class="input-group">
                                            {{ form_errors(edit_form.startDatetime) }}

                                            <span class="input-group-addon"><span class="icon md-calendar" aria-hidden="true"></span></span>
                                            {{ form_widget(edit_form.startDatetime) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group form-material">
                                        <h4 class="example-title">{{ form_label(edit_form.price) }}</h4>


                                        {{ form_errors(edit_form.price) }}
                                        {{ form_widget(edit_form.price) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <a class="btn btn-default"
                               href="{{ path('tractor_show', { 'id': tractor.id }) }}">Annuler</a>
                            <button class="btn btn-primary margin-left-10" type="submit">Enregistrer</button>
                            {{ form_end(edit_form) }}


                        </div>
                    </div>

                </div>
                <div class="col-lg-3">
                    <div class="panel panel-bordered">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                Actions sensibles
                            </h3>
                        </div>
                        <div class="panel-body">
                            {% if is_granted('DELETE', tractor) or is_granted('ROLE_ADMIN') %}
                                {{ form_start(delete_form) }}
                                <button class="btn btn-danger margin-left-10" type="submit">Supprimer</button>
                                {{ form_end(delete_form) }}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block template_config %}
    {{ parent() }}
    <script src="{{ asset('front/global/vendor/select2/select2.min.js') }}"></script>
    <script src="{{ asset('front/global/js/components/select2.js') }}"></script>

    <script src="{{ asset('front/global/vendor/bootstrap-datepicker/bootstrap-datepicker.js') }}"></script>
    <script src="{{ asset('front/global/vendor/bootstrap-datepicker/bootstrap-datepicker.fr.js') }}"></script>
    <script src="{{ asset('front/global/js/components/bootstrap-datepicker.js') }}"></script>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        $(document).ready(function () {
                    $('.date').datepicker({
                        'format': 'mm/yyyy',
                        'startView': 'decade',
                        'minViewMode': 'months',
                        'language': 'fr',
                        'orientation':'bottom',
                        'autoclose': true
                    });

                }
        );
    </script>
{% endblock %}
