
{{ form_start(form, {'action': path('tractor_new'), 'method': 'POST'}) }}
<div class="row" id="intervention">
    <div class="col-sm-0 col-md-2"></div>
    <div class="col-sm-12 col-md-8">
        <div class="form-group">
            {{ form_label(form.model) }}
            {{ form_errors(form.model) }}
            {{ form_widget(form.model) }}
            <a class="pull-right helpLink" href="{{ path('tractormodel_new') }}">
                Ajouter un tracteur qui n'est pas dans la liste déroulante
            </a>
        </div>
    </div>
</div>
<div class="row" style="margin-top:20px;">
    <div class="col-sm-0 col-md-2"></div>
    <div class="col-sm-12 col-md-4">
        <div class="form-group">
            {{ form_label(form.startDatetime) }}
            {{ form_errors(form.startDatetime) }}
            <div class="input-group">
                <span class="input-group-addon"><span class="icon wb-calendar" aria-hidden="true"></span></span>
            {{ form_widget(form.startDatetime) }}
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-4">
        <div class="form-group">
            {{ form_label(form.price) }}
            {{ form_errors(form.price) }}
            <div class="input-group">
                {{ form_widget(form.price) }}
                <span class="input-group-addon">CFP</span>
            </div>
        </div>
    </div>
</div>

<div class="row" style="margin-top:20px;">
    <div class="col-sm-0 col-md-2"></div>
    <div class="col-sm-12 col-md-8" style="text-align:right;">
        <button class="btn btn-info margin-left-10" type="submit">Enregistrer</button>
        {{ form_end(form) }}
    </div>
</div>
