<h1>Interventions culturales</h1>

<table class="table table-hover">
    <thead>
    <tr>
        <th>Nom</th>
        <th>Date</th>
        <th>Status</th>
    </tr>
    </thead>
    <tbody>
    {% for action in actions %}
        {% if is_granted('VIEW', action) or is_granted('ROLE_ADMIN') %}
            <tr>
                <td>
                    <a href="{{ path('action_show', { 'id': action.id }) }}">{{ action.name }}</a>
                </td>
                <td>
                    {% for period in action.periods %}
                        {{ period.startDateTime | date('d/m/Y') }}
                    {% endfor %}
                </td>
                <td>
                    {% for period in action.periods %}
                        {{ period.status }}
                    {% endfor %}
                </td>
            </tr>
        {% endif %}
    {% endfor %}
    </tbody>
</table>


<a class="btn btn-primary" href="{{ path('action_new', { 'id': cropCycle.id }) }}">Ajouter une intervention</a>


