{% extends 'base.html.twig' %}

{% block plugin_stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('front/global/vendor/select2/select2.css') }}">
    <link rel="stylesheet" href="{{ asset('front/global/vendor/bootstrap-datepicker/bootstrap-datepicker.css') }}">
    <link rel="stylesheet" href="{{ asset('front/global/vendor/jt-timepicker/jquery-timepicker.css') }}">
    {#<link rel="stylesheet" href="{{ asset('front/global/vendor/clockpicker/clockpicker.css') }}">#}
{% endblock %}

{% block head_javascripts %}
    {{ parent() }}
    <link id="skinStyle" href="{{ asset('front/mmenu/assets/skins/teal.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block page %}

<div class="page animsition">
    <div class="page-header padding-top-20 padding-bottom-10">
        <ol class="breadcrumb">
            <li><a href="{{ path('plot_show',{'id':cropCycle.plot.id}) }}">{{ cropCycle.plot.name }}</a></li>
            <li><a href="{{ path('cropcycle_show',{'id':cropCycle.id}) }}">{{ cropCycle.name }}</a></li>
            <li class="active">Ajouter une intervention</li>
        </ol>
    </div>
    <div class="page-content">
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3">
                {% for flash_message in app.session.flashBag.get('success') %}
                    <div class="alert dark alert-alt alert-success alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                        {{ flash_message }}
                    </div>
                {% endfor %}
                {{ form_start(form) }}

                <div class="panel">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{ form_label(form.intervention) }}
                        </h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    {{ form_errors(form.intervention) }}

                                    {{ form_widget(form.intervention) }}
                                </div>
                            </div>
                        </div>
                        <a class="pull-right" href="{{ path('intervention_new') }}"><i class="icon md-help-outline"
                                                                                       aria-hidden="true"></i> Que
                            faire si mon intervention n'est pas dans la liste déroulante</a>
                    </div>
                </div>
                <div class="panel" id="density">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            {{ form_label(form.density) }} <small>(facultatif)</small>
                        </h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="input-group">
                                {{ form_errors(form.density) }}
                                {{ form_widget(form.density) }}
                                    <span class="input-group-addon">
                      plants
                    </span>
                                {{ form_errors(form.densityUnit) }}
                                {{ form_widget(form.densityUnit) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel" id="farmSpecialities">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            {{ form_label(form.farmSpecialityMvts) }}
                        </h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-12">
                                {{ form_label(form.aim) }}
                                {{ form_errors(form.aim) }}
                                {{ form_widget(form.aim) }}

                                <div class="margin-10"></div>

                                {{ form_errors(form.farmSpecialityMvts) }}
                                {{ form_widget(form.farmSpecialityMvts) }}

                                <div class="margin-10"></div>

                                <a class="pull-right" href="#" id="add_mvt"><i class="icon md-plus-circle-o"
                                                                               aria-hidden="true"></i> Ajouter un autre
                                    produit</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel" id="harvestProducts">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            {{ form_label(form.harvestProducts) }}
                        </h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-12">

                                {{ form_errors(form.harvestProducts) }}
                                {{ form_widget(form.harvestProducts) }}

                                <a class="pull-right" href="#" id="add_harvest"><i class="icon md-plus-circle-o"
                                                                                   aria-hidden="true"></i> Ajouter un
                                    autre
                                    produit récolté</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel">
                    <div class="panel-heading">
                        <h3 class="panel-title">Définir les périodes d'intervention
                        </h3>

                        <div class="panel-actions">

                        </div>

                    </div>
                    <div class="panel-body">

                        <div class="row">
                            <div class="col-lg-12">


                                {% form_theme form 'AppBundle:form:datetime.html.twig' %}
                                {{ form_widget(form.periods) }}

                                <a class="pull-right" href="#" id="add_period"><i class="icon md-plus-circle-o"
                                                                                  aria-hidden="true"></i> Ajouter une
                                    autre
                                    période</a>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel">
                    <div class="panel-heading">
                        <h3 class="panel-title">Choisir le matériel utilisé
                        </h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-12">
                                {{ form_label(form.tractors) }}


                                {% if app.user.farm.tractors is not empty %}
                                    {{ form_errors(form.tractors) }}
                                    {{ form_widget(form.tractors) }}
                                {% else %}
                                    <div class="hidden">
                                        {{ form_errors(form.tractors) }}
                                        {{ form_widget(form.tractors) }}
                                    </div>
                                    <p>
                                        Vous n'avez pas enregistrer de tracteur sur l'exploitation
                                    </p>
                                {% endif %}
                            </div>
                            <div class="col-lg-12 margin-top-10">
                                {{ form_label(form.implements) }}

                                {% if app.user.farm.implements is not empty %}
                                    {{ form_errors(form.implements) }}
                                    {{ form_widget(form.implements) }}
                                {% else %}
                                    <div class="hidden">
                                        {{ form_errors(form.implements) }}
                                        {{ form_widget(form.implements) }}
                                    </div>
                                    <p>
                                        Vous n'avez pas enregistrer d'outils sur l'exploitation
                                    </p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            {{ form_label(form.comment) }} <small>(facultatif)</small>
                        </h3>
                        </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-12">
                                {{ form_errors(form.comment) }}
                                {{ form_widget(form.comment) }}
                            </div>
                        </div>
                    </div>
                </div>


                <div class="panel">
                    <div class="panel-body">
                        <div class="panel-footer">
                            <a class="btn btn-default"
                               href="{{ path('cropcycle_show',{'id':cropCycle.id}) }}">Retourner à la culture</a>
                            <button class="btn btn-primary margin-left-10" type="submit">Enregistrer</button>
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}

    {% block template_config %}
        {{ parent() }}
        <script src="{{ asset('front/global/vendor/select2/select2.min.js') }}"></script>
        <script src="{{ asset('front/global/js/components/select2.js') }}"></script>

        <script src="{{ asset('front/global/vendor/bootstrap-datepicker/bootstrap-datepicker.js') }}"></script>
        <script src="{{ asset('front/global/vendor/bootstrap-datepicker/bootstrap-datepicker.fr.js') }}"></script>
        <script src="{{ asset('front/global/vendor/jt-timepicker/jquery.timepicker.js') }}"></script>
        <script src="{{ asset('front/global/vendor/datepair-js/datepair.min.js') }}"></script>
        <script src="{{ asset('front/global/vendor/datepair-js/jquery.datepair.min.js') }}"></script>

        <script src="{{ asset('front/global/js/components/bootstrap-datepicker.js') }}"></script>
        <script src="{{ asset('front/global/js/components/jt-timepicker.js') }}"></script>
        <script src="{{ asset('front/global/js/components/datepair-js.js') }}"></script>

        {#
        <script src="{{ asset('front/global/vendor/clockpicker/bootstrap-clockpicker.min.js') }}"></script>
        <script src="{{ asset('front/global/js/components/clockpicker.js') }}"></script>
        #}
    {% endblock %}

    {% block javascripts %}
        {{ parent() }}

        <script type="text/javascript">
            $(document).ready(function () {
                var $container = $('div#action_periods');
                var index = $container.find(':input').length;
                $('#add_period').click(function (e) {
                    addPeriod($container);

                    e.preventDefault(); // évite qu'un # apparaisse dans l'URL
                    return false;
                });

                if (index == 0) {
                    addPeriod($container);
                    $("#action_periods > div > a").remove();

                } else {
                    $container.children('div').each(function () {
                        addDeleteLink($(this));
                    });
                }

                function addPeriod($container) {
                    var template = $container.attr('data-prototype')
                            .replace(/__name__label__/g, '')
                            .replace(/__name__/g, index)
                            .replace(/Start datetime/g, "Début d'intervention")
                            .replace(/End datetime/g, "Fin d'intervention")
                            .replace(/form-group/g, "form-group col-lg-12")


                            ;

                    var $prototype = $(template);
                    addDeleteLink($prototype);
                    $container.append($prototype);


                    $('input[id*="startDatetime_time"]').addClass("time start");
                    $('input[id*="startDatetime_date"]').addClass("date start");
                    $('input[id*="endDatetime_time"]').addClass("time end");
                    $('input[id*="endDatetime_date"]').addClass("date end");

                    // initialize input widgets first
                    $('.time').timepicker({
                        'showDuration': true,
                        'timeFormat': 'G:i',
                        'show2400': true
                    });

                    $('.date').datepicker({
                        'format': 'dd/mm/yyyy',
                        'startView': 'months',
                        'minView': 'days',
                        'language': 'fr',
                        'autoclose': true
                    });

                    // initialize datepair
                    var basicExampleEl = document.getElementById('action_periods_' + (index));
                    var datepair = new Datepair(basicExampleEl, {
                        anchor: 'null'
                    });

                    index++;
                }

                function addDeleteLink($prototype) {
                    var $deleteLink = $('<a href="#" style="position: absolute;top: -4px;left: -2px;"><i class="btn btn-pure btn-danger icon waves-effect waves-circle waves-classicr md-close-circle-o" aria-hidden="true"></i></a>');
                    $prototype.append($deleteLink);
                    $deleteLink.click(function (e) {
                        $prototype.remove();

                        index--;

                        e.preventDefault();
                        return false;
                    });
                }
            });
        </script>

        <script type="text/javascript">
            $(document).ready(function () {
                var $container2 = $('div#action_farmSpecialityMvts');
                var index2 = $container2.find(':input').length;
                $('#add_mvt').click(function (e) {
                    addMvt($container2);
                    e.preventDefault(); // évite qu'un # apparaisse dans l'URL
                    return false;
                });

                if (index2 == 0) {
                    addMvt($container2);
                    $("#action_farmSpecialityMvts > div > a").remove();
                } else {
                    $container2.children('div').each(function () {
                        addDeleteLink2($(this));
                    });
                }

                function addMvt($container2) {
                    var template2 = $container2.attr('data-prototype')
                            .replace(/__name__label__/g, '')
                            .replace(/__name__/g, index2)
                            .replace(/form-group/g, "form-group col-lg-6")


                            ;

                    var $prototype2 = $(template2);
                    addDeleteLink2($prototype2);
                    $container2.append($prototype2);

                    index2++;
                }

                function addDeleteLink2($prototype2) {
                    var $deleteLink2 = $('<a href="#" style="margin: none; position: relative;top: -4px;right: 2px;"><i class="btn btn-pure btn-danger icon waves-effect waves-circle waves-classicr md-close-circle-o" aria-hidden="true"></i></a>');
                    $prototype2.append($deleteLink2);
                    $deleteLink2.click(function (e) {
                        $prototype2.remove();

                        index2--;

                        e.preventDefault();
                        return false;
                    });
                }
            });
        </script>

        <script type="text/javascript">
            $(document).ready(function () {
                var $container3 = $('div#action_harvestProducts');
                var index3 = $container3.find(':input').length;
                $('#add_harvest').click(function (e) {
                    addHarvest($container3);
                    e.preventDefault(); // évite qu'un # apparaisse dans l'URL
                    return false;
                });

                if (index3 == 0) {
                    addHarvest($container3);
                    $("#action_harvestProducts > div > a").remove();

                } else {
                    $container3.children('div').each(function () {
                        addDeleteLink3($(this));
                    });
                }

                function addHarvest($container3) {
                    var template3 = $container3.attr('data-prototype')
                            .replace(/__name__label__/g, '')
                            .replace(/__name__/g, index3)
                            .replace(/form-group/g, "form-group col-lg-6")


                            ;

                    var $prototype3 = $(template3);
                    addDeleteLink3($prototype3);
                    $container3.append($prototype3);

                    index3++;
                }

                function addDeleteLink3($prototype3) {
                    var $deleteLink3 = $('<a href="#" style="margin: none; position: relative;top: -4px;right: 2px;"><i class="btn btn-pure btn-danger icon waves-effect waves-circle waves-classicr md-close-circle-o" aria-hidden="true"></i></a>');
                    $prototype3.append($deleteLink3);
                    $deleteLink3.click(function (e) {
                        $prototype3.remove();

                        index3--;

                        e.preventDefault();
                        return false;
                    });
                }
            });
        </script>


        <script type="text/javascript">
            $(document).ready(function () {
                $('#farmSpecialities').hide();
                $('#harvestProducts').hide();
                $('#density').hide();

                $('#action_intervention').on('change', function () {
                    if ($("#action_intervention").select2('data')[0]['text'] == "Traitement phytosanitaire") {
                        $('#density').hide("slow");
                        $('#harvestProducts').hide("slow");
                        $('#farmSpecialities').show("slow");

                    } else if ($("#action_intervention").select2('data')[0]['text'] == "Récolte") {
                        $('#density').hide("slow");
                        $('#farmSpecialities').hide("slow");
                        $('#harvestProducts').show("slow");


                    }  else if ($("#action_intervention").select2('data')[0]['text'] == "Semis direct" ||
                            $("#action_intervention").select2('data')[0]['text'] == "Semis pépinière" ||
                            $("#action_intervention").select2('data')[0]['text'] == "Repiquage/Plantation") {
                        $('#farmSpecialities').hide("slow");
                        $('#harvestProducts').hide("slow");
                        $('#density').show("slow");

                    } else {
                        $('#density').hide("slow");
                        $('#farmSpecialities').hide("slow");
                        $('#harvestProducts').hide("slow");
                    }
                });
            });
        </script>

    {% endblock %}



