<h4>{{ action.name }} sur {{ action.cropCycle.name }} @ {{ action.cropCycle.plot.name }}</h4>

<div class="row">
    <div class="col-md-12">
        {% for period in action.periods %}
            {{ period.intervalLabel }}

            {% if period.durationLabel != "" %}
                {{ period.durationLabel }}
            {% endif %}

            <br/>
        {% endfor %}
    </div>
</div>
{% if action.nbWorkers != "" or action.nbWorkers != 0 %}
    <div class="row" style="margin-top:15px;">
        <div class="col-md-12">
            <i class="icon wb-user"
               aria-hidden="true"></i>
            {{ action.nbWorkers }}
        </div>
    </div>

{% endif %}
                        {{ action.comment }}

                        {% if action.density != 0 %}

    <h4 class="example-title">
        Densité
    </h4>

<p>{{ action.density }} plants {{ action.densityUnit.symbol }}
    {% if action.densityUnit.c == 0 %}
        {% set value = action.density/action.cropcycle.area %} soit {{ value | round }} plants/ha
    {% elseif action.densityUnit.c == 10000 %}
        {% set value = action.density*action.cropcycle.area %} soit environ {{ value | round }} plants au total
    {% elseif action.densityUnit.c == 1 %}
        {% set value = action.density*10000 %}soit {{ value | round }} plants/ha
    {% endif %}
    {% endif %}

</p>
{% if action.auxiliary is not empty %}

    <h4 class="example-title">
        Auxiliaires
    </h4>
    {{ action.auxiliary }}

{% endif %}

                        {% if action.pH is not empty %}

                            <h4 class="example-title">
                                pH
                            </h4>
                            {{ action.pH }}

                        {% endif %}

                        {% if action.ec is not empty %}

                            <h4 class="example-title">
                                EC (mS/cm)
                            </h4>
                            {{ action.ec }}

                        {% endif %}

                        {% if action.drainage is not empty %}

                            <h4 class="example-title">
                                Taux de drainage
                            </h4>
                            {{ action.drainage }} %

                        {% endif %}

                        {% if action.intervention.interventionCategory.slug == "protection-des-cultures" and action.farmSpecialityMvts is not empty %}

                            <h4 class="example-title">
                                Produits utilisés
                            </h4>
                            Cible : {{ action.aim }}
                            <table class="table table-hover">
                                <div class="table-body">


                                    {% for mvt in action.farmSpecialityMvts %}
                                        <tr>
                                            <td>
                                                {{ mvt.speciality.speciality.name }}

                                            </td>
                                            <td>                                            {{ mvt.amount }}{{ mvt.unit.symbol }}
                                            </td>
                                            <td>
                                                <a class="btn btn-sm btn-default pull-right"
                                                   href="{{ path('speciality_show',{'id':mvt.speciality.speciality.id}) }}">Voir
                                                    usages et doses autorisées</a>

                                            </td>
                                        </tr>
                                    {% endfor %}
                                </div>
                            </table>

                        {% endif %}

                        {% if action.intervention.interventionCategory.slug == "fertilisation" and action.farmFertilizerMvts is not empty %}
                            {% if action.tankVolume is not empty %}
                                <h4 class="example-title">
                                    Volume de la cuve
                                </h4>
                                {{ action.tankVolume }} Litres
                            {% endif %}
                            <h4 class="example-title">
                                Engrais et amendements utilisés
                            </h4>
                            <table class="table table-hover">
                                <div class="table-body">


                                    {% for mvt in action.farmFertilizerMvts %}
                                        <tr>
                                            <td>
                                                {{ mvt.fertilizer.fertilizer.name }}

                                            </td>
                                            <td>                                            {{ mvt.amount }}{{ mvt.unit.symbol }}

                                            </td>
                                            <td>
                                                <a class="btn btn-sm btn-default pull-right"
                                                   href="{{ path('fertilizer_show',{'id':mvt.fertilizer.fertilizer.id}) }}">Fiche technique</a>

                                            </td>
                                        </tr>
                                    {% endfor %}
                                </div>
                            </table>

                        {% endif %}

                        {% if action.irrigations is not empty %}

                            <h4 class="example-title">
                                Irrigations
                            </h4>
                            <table class="table table-hover">
                                <div class="table-heading">
                                    <th>
                                        #
                                    </th>
                                    <th>
                                        Débit parcelle
                                    </th>
                                    <th>Durée
                                    </th>
                                    <th>
                                        Volume
                                    </th>
                                </div>
                                <div class="table-body">


                                    {% for irrigation in action.irrigations %}
                                        <tr>
                                            <td>{{ loop.index }}</td>
                                            <td>{% if irrigation.flow is not empty %}
                                                    {{ irrigation.flow }} {{ irrigation.flowUnit.symbol }}
                                                {% endif %}
                                            </td>
                                            <td>
                                                {% if irrigation.duration is not empty %}
                                                    {{ irrigation.duration }} minutes
                                                {% endif %}
                                            </td>
                                            <td>
                                                {% if irrigation.volume is not empty %}
                                                    {{ irrigation.volume }} {{ irrigation.volumeUnit.symbol }}
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </div>
                            </table>

                        {% endif %}

                        {% if action.tractors is not empty or action.implements is not empty %}
                            <h4 class="example-title margin-top-30">
                                Matériel utilisé
                            </h4>
                            <ul>
                                {% for tractor in action.tractors %}
                                    <li>
                                        {{ tractor.model.label | capitalize }}
                                    </li>
                                {% endfor %}
                                {% for implement in action.implements %}
                                    <li>
                                        {{ implement.name | capitalize }}
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}



                        {% if action.harvestProducts is not empty %}
                            <h4 class="example-title margin-top-30">
                                Quantités récoltées
                            </h4>
                            <ul>
                                {% for product in action.harvestProducts %}
                                    <li>
                                        {{ product.qty }} {{ product.unit.symbol }} à {{ product.price }}
                                        CFP/{{ product.priceUnit.symbol }}
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}



