{% extends 'base.html.twig' %}

{% block head_javascripts %}
    {{ parent() }}
    <link id="skinStyle" href="{{ asset('front/mmenu/assets/skins/teal.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block plugin_stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('front/mmenu/assets/examples/css/apps/documents.css') }}">
{% endblock %}

{% block body_class %}
    site-navbar-small app-documents
{% endblock %}

 {% block page %}
     <div class="page animsition">
         <div class="page-header padding-bottom-10">
             <h1>Local phytosanitaire</h1>
         </div>
         <div class="page-content">
             <a class="btn btn-primary" href="{{ path('farmspeciality_new') }}">Ajouter un produit</a>

             <div class="documents-wrap categories" data-plugin="animateList" data-child="li">
                 <ul class="blocks blocks-50 blocks-xlg-4 blocks-md-3 blocks-xs-2">
                     {% for farmSpeciality in farmSpecialities %}
                         <li style="height: 20vh">

                             <div class="category">
                                 <h4>{{ farmSpeciality.speciality.name }}</h4>
                                 <span class="grey-700 font-size-30">{{ farmSpeciality.stock | number_format(2,',',' ') }} {{ farmSpeciality.unit }}</span>

                                 <a type="button" style="position: absolute;bottom: -5px;right: 0px;" class="btn-raised btn btn-info btn-floating waves-effect waves-light"
                                    href="{{ path('farmspeciality_show',{ 'id': farmSpeciality.id }) }}">
                                     <i class="icon md-plus" aria-hidden="true"></i>
                                 </a>

                             </div>

                         </li>
                     {% endfor %}
                 </ul>
             </div>
         </div>
     </div>
     <!-- Footer -->
 {% endblock %}

{% block core_plugin %}
    {{ parent() }}
    <script src="{{ asset('front/global/vendor/matchheight/jquery.matchHeight-min.js') }}"></script>
{% endblock %}

{% block template_config %}
    {{ parent() }}
    <script src="{{ asset('front/global/js/components/matchheight.js') }}"></script>
    <script src="{{ asset('front/global/js/components/bootstrap-select.js') }}"></script>
    <script src="{{ asset('front/global/js/components/animate-list.js') }}"></script>
    <script src="{{ asset('front/global/vendor/matchheight/jquery.matchHeight-min.js') }}"></script>
    <script src="{{ asset('front/global/vendor/matchheight/jquery.matchHeight-min.js') }}"></script>

    <script src="{{ asset('front/mmenu/assets/js/app.js') }}"></script>
    <script src="{{ asset('front/mmenu/assets/examples/js/apps/documents.js') }}"></script>

{% endblock %}