{% extends 'base.html.twig' %}

{% block body %}
    <h1>FarmSpeciality list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for farmSpeciality in farmSpecialities %}
            <tr>
                <td><a href="{{ path('farmspeciality_show', { 'id': farmSpeciality.id }) }}">{{ farmSpeciality.id }}</a></td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('farmspeciality_show', { 'id': farmSpeciality.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('farmspeciality_edit', { 'id': farmSpeciality.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('farmspeciality_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
