{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ farmSpeciality.speciality.name }}</h1>

    Stock : {{ farmSpeciality.stock }} L

    <ul>
        <li>
            <a href="{{ path('farmspeciality_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('farmspeciality_edit', { 'id': farmSpeciality.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>

    <h4>Historique des mouvements de stock</h4>
    {{ render(controller('AppBundle:FarmSpecialityMvt:list',{'id': farmSpeciality.id } )) }}


{% endblock %}
