{% extends 'base.html.twig' %}

{% block head_javascripts %}
    {{ parent() }}
    <link id="skinStyle" href="{{ asset('front/mmenu/assets/skins/teal.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block page %}
    <div class="page animsition">
        <div class="page-content">
            <div class="row">
                <div class="col-lg-9">
                    <div class="col-xlg-12 col-md-12">
                        <div class="panel panel-bordered panel-primary">
                            <div class="panel-heading">
                                <h3 class="panel-title">{{ crop.name }}
                                </h3>

                                <div class="panel-actions"></div>
                            </div>
                            <table class="table table-hover">
                                <tbody>
                                {% for cycle in cropCycles %}
                                    {% if is_granted('VIEW', cycle) or is_granted('ROLE_ADMIN') %}
                                        {% if (startCampaignDate < cycle.startDatetime and endCampaignDate > cycle.startDatetime ) or (startCampaignDate < cycle.endDatetime and endCampaignDate > cycle.endDatetime) %}
                                            <tr>
                                                <td>
                                                    <div class="content">
                                                        <div class="title">
                                                            <a href="{{ path('cropcycle_show', { 'id': cycle.id }) }}">{{ cycle.plot.name }}</a>
                                                        </div>
                                                        <div class="metas">
                                                            <i class="icon md-layers" aria-hidden="true"> </i>
                                                            {{ cycle.area |number_format(2, ',', ' ') }}ha
                                                            <i class="icon md-calendar margin-left-10" aria-hidden="true"> </i>
                                                            {{ cycle.intervalLabel }}
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>
                                                    {% if cycle.status == "ActiveAction" %}
                                                        <span class="pull-right label label-danger  margin-right-10px">En cours</span>
                                                    {% elseif cycle.status == "CompletedAction" %}
                                                        <span class="pull-right label label-info  margin-right-10px">Terminé</span>
                                                    {% elseif cycle.status == "PotentialAction" %}
                                                        <span class="pull-right label label-default  margin-right-10px">A venir</span>
                                                    {% endif %}
                                                </td>
                                            </tr>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="panel">
                        <div class="panel-heading">
                            <h3 class="panel-title">Campagne</h3>
                        </div>
                        <div class="panel-body">
                            <div class="btn-group" aria-label="Basic example" role="group">
                                <a type="button"
                                   href="{{ path('crop_current_index',{'id':app.user.farm.id,'year':year-1}) }}"
                                   class="btn btn-default waves-effect waves-light"><i
                                            class="icon md-chevron-left margin-0" aria-hidden="true"></i></a>
                                <a type="button" href="#"
                                   class="btn btn-default waves-effect waves-light">{{ year }}</a>
                                <a type="button"
                                   href="{{ path('crop_current_index',{'id':app.user.farm.id,'year':year+1}) }}"
                                   class="btn btn-default waves-effect waves-light"><i
                                            class="icon md-chevron-right margin-0" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


