{% extends 'base.html.twig' %}

{% block body %}
    <h1>Liste des cultures</h1>

    {% for crop in crops %}
            <h3>
                <a href="{{ path('crop_show', { 'id': crop.id }) }}">{{ crop.name }}</a>
            </h3>
        <table class="table table_hover">

        {% for cycle in crop.cropcycles %}
            <tr>
                <td>
                    {{ cycle.name }}
                </td>
                <td>
                    {{ cycle.plot.name }}
                </td>
            </tr>
        {% endfor %}
        </table>
    {% endfor %}


    <ul>
        {% if is_granted('ROLE_ADMIN') %}
            <li>
                <a href="{{ path('crop_new') }}">Ajouter une culture</a>
            </li>
        {% endif %}
    </ul>
{% endblock %}


