{% extends 'base.html.twig' %}

{% block head_javascripts %}
    {{ parent() }}
    <link id="skinStyle" href="{{ asset('front/mmenu/assets/skins/teal.css') }}" rel="stylesheet" type="text/css">
{% endblock %}


{% block page %}
    <div class="page animsition">
        <div class="page-content">
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">Liste des cultures disponibles</h3>
                </div>
                <div class="panel-body">
                    <a class="btn btn-primary" href="{{ path('crop_new') }}">Ajouter une culture</a>

                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>Nom</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for crop in crops %}
                            <tr>
                                <td><a href="{{ path('crop_show', { 'id': crop.id }) }}">{{ crop.name }}</a></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}