<table class="table table-hover">
    <tbody>
    {% for cropCycle in cropCycles %}
        {% if is_granted('VIEW', cropCycle) or is_granted('ROLE_ADMIN') %}
            {% if cropCycle.actions is empty %}
                <tr>
                    <td class="cell-60 responsive-hide">
                        <a class="avatar padding-top-5" href="javascript:void(0)">
                            <img class="img-responsive" src="{{ asset('front/global/portraits/1.jpg') }}" alt="...">
                        </a>
                    </td>
                    <td>
                        <div class="content">
                            <div class="title">
                                <a href="{{ path('cropcycle_show', { 'id': cropCycle.id }) }}">{{ cropCycle.name }}</a>
                            </div>
                            <div class="metas">
                                <span class="started">Pas encore d'intervention</span>
                            </div>
                        </div>
                    </td>
                    <td>
                        {% if cropCycle.status == "ActiveAction" %}
                            <span class="pull-right label label-warning margin-top-10 margin-right-10px">En cours</span>
                        {% elseif cropCycle.status == "CompletedAction" %}
                            <span class="pull-right label label-info margin-top-10 margin-right-10px">Terminé</span>
                        {% endif %}                    </td>
                </tr>
            {% elseif (startCampaignDate < cropCycle.startDatetime and endCampaignDate > cropCycle.startDatetime ) or (startCampaignDate < cropCycle.endDatetime and endCampaignDate > cropCycle.endDatetime) %}
                <tr>
                    <td class="cell-60 responsive-hide">
                        <a class="avatar padding-top-5" href="javascript:void(0)">
                            <img class="img-responsive" src="{{ asset('front/global/portraits/1.jpg') }}" alt="...">
                        </a>
                    </td>
                    <td>
                        <div class="content">
                            <div class="title">
                                <a href="{{ path('cropcycle_show', { 'id': cropCycle.id }) }}">{{ cropCycle.name }}</a>
                            </div>
                            <div class="metas">
                                <span class="started">{{ cropCycle.intervalLabel }}</span>
                            </div>
                        </div>
                    </td>
                    <td>
                        {% if cropCycle.status == "ActiveAction" %}
                        <span class="pull-right label label-warning margin-top-10 margin-right-10px">En cours</span>
                        {% elseif cropCycle.status == "CompletedAction" %}
                            <span class="pull-right label label-info margin-top-10 margin-right-10px">Terminé</span>
                        {% endif %}
                    </td>
                </tr>
            {% endif %}
        {% endif %}
    {% endfor %}
    </tbody>
</table>


