{% extends 'base_topbar.html.twig' %}

{% block title %}Ajouter une culture sur {{ plot.name }}{% endblock %}

{% block plugins_stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('front/global/vendor/select2/select2.css') }}">
    <link rel="stylesheet" href="{{ asset('front/global/vendor/leaflet-label/leaflet.label.css') }}"/>
    <link rel="stylesheet" href="{{ asset('front/global/vendor/bootstrap-sweetalert/sweet-alert.css') }}">
{% endblock %}

{% block page_stylesheets %}
    <style>

        .leaflet-editing-icon {
            border-radius: 100%;
            opacity: 1;
        }

        .created-div {
            border: 10px solid darkred;
            -webkit-border-radius: 30px;
            -moz-border-radius: 30px;
            border-radius: 30px;
            height: 20px;
            width: 20px;
            -webkit-animation: hugo 0.5s;
            -moz-animation: hugo 0.5s;
            animation: hugo 0.5s;
            transform-origin: center;
            /*opacity: 0.0*/
        }

        @keyframes hugo {
            from {
                transform: scale(3);
            }
            to {
                transform: none;
            }
        }

        .leaflet-label-right:before {
            display: none;
        }

        .leaflet-label {
            border: none;
        }
    </style>
{% endblock %}

{% block page %}
    <div class="page">
        <!-- Page header -->
            <div class="page-header">
                <h1 class="page-title">Page Title</h1>
                <ol class="breadcrumb">
                  <li><a href="#">{{ plot.name }}</a></li>
                  <li class="active">Ajouter une culture</li>
                </ol>
                <div class="page-header-actions">
                  <div class="row no-space width-250 hidden-xs">
                    <div class="col-xs-4">
                      <div class="counter">
                        <span class="counter-number font-weight-medium">{{plot.area |number_format(2, ',', ' ')}}</span>
                        <div class="counter-label">hectares</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
        <!-- End page header -->
        <div class="page-content">
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-bordered">
                        <div class="panel-heading">
                            <h3 class="panel-title">Ajouter un cycle de culture</h3>
                        </div>
                        <div class="panel-body">
                            {{ form_start(form) }}
                            <div class="row">
                                <div class="col-lg-4">
                                    {{ form_start(form) }}
                                    <div class="form-group form-material">


                                        {{ form_label(form.crops) }}
                                    {{ form_errors(form.crops) }}
                                    {{ form_widget(form.crops) }}
                                    </div>
                                </div>
                            </div>
                                <div class="row">

                                <div class="col-lg-4">
                                    <div class="form-group form-material">
                                        {{ form_label(form.varieties) }}

                                        {{ form_errors(form.varieties) }}
                                        {{ form_widget(form.varieties) }}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="hidden">
                                        {{ form_widget(form.status) }}
                                    </div>
                                    <div>
                                        <label for="crop_cycle_crops" class="required margin-bottom -10">Dessiner  la zone de culture sur "{{ plot.name }}"</label>

                                        <div id="map" style="height: 60vh;"></div>
                                        {{ form_label(form.area) }}
                                        {{ form_widget(form.area) }}
                                        {{ form_errors(form.area) }}
                                        {{ form_label(form.latLngs) }}
                                        {{ form_widget(form.latLngs) }}
                                        {{ form_errors(form.latLngs) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <a class="btn btn-default btn-flat"
                               href="{{ path('plot_show',{'id': plot.id }) }}">Annuler</a>
                            <button class="btn btn-primary margin-left-10" type="submit">Enregistrer</button>
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}




