{% extends 'base.html.twig' %}

{% block body %}
    <h1>Cycle de culture</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ cropCycle.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ cropCycle.name }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('plot_show',{'id': cropCycle.plot.id }) }}">Retourner à la parcelle</a>
        </li>
        {% if is_granted('EDIT', cropCycle) or is_granted('ROLE_ADMIN') %}
        <li>
            <a href="{{ path('cropcycle_edit', { 'id': cropCycle.id }) }}">Editer</a>
        </li>
        {% endif %}
        {% if is_granted('ROLE_ADMIN') %}
        <li>
                {{ form_start(delete_form) }}
                    <input type="submit" value="Supprimer">
                {{ form_end(delete_form) }}
        </li>
        {% endif %}
    </ul>
{% endblock %}
