{% extends 'base.html.twig' %}

{% block head_javascripts %}
    {{ parent() }}
    <link id="skinStyle" href="{{ asset('front/mmenu/assets/skins/teal.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block plugin_stylesheets %}
    {{ parent() }}
    <link href='https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.css' rel='stylesheet'
          xmlns="http://www.w3.org/1999/html"/>
{% endblock %}

{% block page %}
    <div class="page animsition">
        <div class="page-header padding-top-20 padding-bottom-10">
            <ol class="breadcrumb">
                <li><a href="{{ path('farm_show_current') }}">Parcelles</a></li>
                <li><a href="{{ path('plot_show',{'id':cropCycle.plot.id}) }}">{{ cropCycle.plot.name }}</a></li>
                <li class="active">{{ cropCycle.name }}</li>
            </ol>
        </div>
        <div class="page-content">
            <div class="row">
                <div class="col-lg-9">
                    <div class="panel">
                        <div class="panel-heading">
                            <h3 class="panel-title">{{ cropCycle.name }}</h3>

                            <div class="panel-actions">
                            </div>
                        </div>
                        <div class="panel-body">
                            <!-- Example Tabs Line -->
                            <div class="example-wrap margin-lg-0">
                                <div class="nav-tabs-horizontal">
                                    <ul class="nav nav-tabs nav-tabs-line" data-plugin="nav-tabs" role="tablist">
                                        <li class="active" role="presentation"><a data-toggle="tab"
                                                                                  href="#exampleTabsLineOne"
                                                                                  aria-controls="exampleTabsLineOne"
                                                                                  role="tab" style="font-size: 16px;">Interventions</a></li>
                                        <li role="presentation"><a data-toggle="tab" href="#exampleTabsLineTwo"
                                                                   aria-controls="exampleTabsLineTwo"
                                                                   role="tab" style="font-size: 16px;">Activité</a></li>


                                    </ul>
                                    </li>
                                    </ul>
                                    <div class="tab-content">
                                        <div class="tab-pane active" id="exampleTabsLineOne" role="tabpanel">
                                            {{ render(controller('AppBundle:Action:index',{'id': cropCycle.id } )) }}
                                            <a class="btn btn-primary"
                                               href="{{ path('action_new', { 'id': cropCycle.id }) }}">
                                                Ajouter une intervention
                                            </a>
                                        </div>
                                        <div class="tab-pane" id="exampleTabsLineTwo" role="tabpanel">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Example Tabs Line With JS -->
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="panel">
                        <div class="panel-heading">
                            <h3 class="panel-title">Statut du cycle</h3>
                        </div>
                        <div class="panel-body">
                            {% form_theme edit_form '@App/form/radio.html.twig' %}

                            {{ form_start(edit_form) }}

                            <div class="hidden">
                                {{ form_widget(edit_form.crops) }}
                                {{ form_widget(edit_form.area) }}
                                {{ form_widget(edit_form.latLngs) }}
                                {{ form_widget(edit_form.varieties) }}
                            </div>

                            {{ form_widget(edit_form.status) }}
                            <button class="btn btn-primary" style="display: none" id="save_status_btn"  type="submit">Enregistrer</button>
                            {{ form_end(edit_form) }}
                        </div>
                    </div>
                    <div class="panel">
                        <div class="panel-body padding-top-0 padding-left-0 padding-right-0">
                            <div>
                                <img src="" class="img-responsive" id="cropcycle_map"/>
                            </div>
                            <div class="" style="width: 100%;">                            {% if is_granted('EDIT', cropCycle) or is_granted('ROLE_ADMIN') %}
                                    <a class="btn btn-raised btn-icon btn-danger btn-round waves-effect waves-round waves-light"
                                       href="{{ path('cropcycle_edit', {'id': cropCycle.id }) }}" id="edit_cropcycle_button"
                                       type="button" style="position: absolute; top: 10px; right:10px;">
                                        <i class="icon md-edit" aria-hidden="true"></i>
                                    </a>
                                {% endif %}</div>

                            <div class="row padding-top-15 padding-right-15 padding-left-15">
                                <div class="col-lg-12">
                                    <span class="example-title">Surface

                                    </span>
                                                                            <span class="padding-left-20">{{ cropCycle.area }}
                                                                                ha</span>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block core_plugin %}
    {{ parent() }}
    <script src="{{ asset('front/global/vendor/mapbox.js/mapbox.js') }}"></script>
    <script src='https://api.mapbox.com/mapbox.js/plugins/geo-viewport/v0.1.1/geo-viewport.js'></script>
    <script src='https://api.mapbox.com/mapbox.js/plugins/geojson-extent/v0.0.1/geojson-extent.js'></script>
{% endblock %}

{% block template_config %}
    {{ parent() }}

    <script src="{{ asset('front/global/js/plugins/responsive-tabs.js') }}"></script>
    <script src="{{ asset('front/global/js/plugins/closeable-tabs.js') }}"></script>

    <script>
        window.AppPlotNew = Site.extend({
            createMap: function () {
                // Mapbox access token
                L.mapbox.accessToken = 'pk.eyJ1IjoiaHVnb2xlaG91eCIsImEiOiItOHl6Sm5jIn0.12l_k0K_Z28UE-Jc0kDgpw';

                // Create the map

                var layerGroup = L.featureGroup();
                var layer = L.geoJson({{ cropCycle.plot.latLngs | raw }});
                layer.setStyle({color: "white", opacity: 0.8, weight: 1.5});
                layerGroup.addLayer(layer);
                var bounds = layerGroup.getBounds();
                bounds = new L.latLngBounds(bounds);
                // The size of the desired map.
                var size = [600, 600];

                bounds = bounds.toBBoxString().split(',').map(Number);

                // Calculate a zoom level and centerpoint for this map.
                var vp = geoViewport.viewport(bounds, size);

                $("#cropcycle_map").attr("src", 'https://api.mapbox.com/v4/mapbox.streets/geojson({{ cropCycle.latLngs| url_encode }})/' +
                        vp.center.join(',') + ',' +
                        vp.zoom + '/' +
                        size.join('x') + '@2x.png' +
                        '?access_token=' + L.mapbox.accessToken);
            }
            ,
            run: function () {
                this.createMap();
            }
        });

        $(document).ready(function ($) {
            AppPlotNew.run();
        })
    </script>
    <script>
        var i=0;
        $('input[type=radio]').on('change', function() {
            i++;
            if(i%2!=0){
            $('#save_status_btn').css("display","block");
            }else{
            $('#save_status_btn').css("display","none");
            }
        });
    </script>
{% endblock %}


