
        {{ form_start(modal_form, {'action': path('farmfertilizer_update_stock', { 'id': farmFertilizer.id })}) }}
        <div class="row" style="margin-bottom: 15px;">
            {{ form_label(modal_form.category) }}
            {{ form_errors(modal_form.category) }}
            <div class="col-md-12">

            {{ form_widget(modal_form.category) }}
            </div>
        </div>

            <div class="row" >
            {{ form_label(modal_form.amount) }}
            {{ form_errors(modal_form.amount) }}
                </div>
<div class="row" style="margin-bottom:15px;">
            <div class="col-md-6">
                {{ form_widget(modal_form.amount) }}
                </div>
            <div class="col-md-6">

            {{ form_widget(modal_form.unit) }}
            </div>

</div>
        <div class="row" id="togglePrice" style="margin-bottom: 15px;">
            {{ form_label(modal_form.price) }}
            {{ form_errors(modal_form.price) }}
            <div class="input-group col-md-12">

                {{ form_widget(modal_form.price) }}
                <span class="input-group-addon">CFP</span>

            </div>
        </div>
        {{ form_widget(modal_form) }}

        <button type="button" class="btn btn-default" onclick="switchPanels();">
            Annuler
        </button>
        <button type="submit" class="btn btn-info pull-right">
            Enregistrer
        </button>
        {{ form_end(modal_form) }}

    </div>

